# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
legendary_count = pokemon['Legendary'].loc[pokemon['Legendary']==True].count()
regular_count = pokemon['Legendary'].loc[pokemon['Legendary']==False].count()
legendary_count,regular_count

(65, 735)

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:
legendary = pokemon.loc[pokemon['Legendary']==True]
legendary['Total'].mean(),legendary['Total'].std()

(637.3846153846154, 60.93738905315346)

In [6]:
regular = pokemon.loc[pokemon['Legendary']==False]
regular['Total'].mean(),regular['Total'].std()

(417.21360544217686, 106.76041745713022)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [7]:
# Your code here:
ttest_ind(legendary['Total'],regular['Total'],equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [8]:
# Your conclusions here:
    #on compare le groupe des pokemon legendaires des pokemon reguliers
    #on prend l'hypo H0 => mu_legend = mu_regular
    # et l'hypo H1 => mu_legend != mu_regular
    #p-value est très petit donc il y a une différence significative entre les 2 groupes.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [9]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [10]:
# Your code here:

list_type=set(pokemon['Type 1'])
for x in list_type:
    mean_type = np.mean(pokemon['Type 1']==x)
    std_type= np.std(pokemon['Type 1']==x)
    print('Name :',x, ' Mean :',mean_type, ' Standard deviation',std_type)

Name : Poison  Mean : 0.035  Standard deviation 0.1837797594948911
Name : Bug  Mean : 0.08625  Standard deviation 0.2807328578916263
Name : Fighting  Mean : 0.03375  Standard deviation 0.1805849869175176
Name : Dragon  Mean : 0.04  Standard deviation 0.19595917942265428
Name : Flying  Mean : 0.005  Standard deviation 0.07053367989832943
Name : Ground  Mean : 0.04  Standard deviation 0.19595917942265428
Name : Grass  Mean : 0.0875  Standard deviation 0.2825663638864329
Name : Water  Mean : 0.14  Standard deviation 0.34698703145794946
Name : Rock  Mean : 0.055  Standard deviation 0.22798026230355997
Name : Ice  Mean : 0.03  Standard deviation 0.1705872210923198
Name : Fire  Mean : 0.065  Standard deviation 0.24652586071242102
Name : Psychic  Mean : 0.07125  Standard deviation 0.2572419823823475
Name : Steel  Mean : 0.03375  Standard deviation 0.1805849869175176
Name : Dark  Mean : 0.03875  Standard deviation 0.19299854274061246
Name : Ghost  Mean : 0.04  Standard deviation 0.19595917942265428
Name : Electric  Mean : 0.055  Standard deviation 0.22798026230356
Name : Fairy  Mean : 0.02125  Standard deviation 0.14421663392272058
Name : Normal  Mean : 0.1225  Standard deviation 0.32786239491591584

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [11]:
# Your code here:
for x in list_type :
    print('Water vs ',x, '=> ', ttest_ind(pokemon['Type 1']=='Water',pokemon['Type 1']==x,equal_var=True))

Water vs  Poison =>  Ttest_indResult(statistic=7.558849704391236, pvalue=6.814662995092844e-14)
Water vs  Bug =>  Ttest_indResult(statistic=3.4040448115819535, pvalue=0.0006803770190579547)
Water vs  Fighting =>  Ttest_indResult(statistic=7.677875937845594, pvalue=2.7996484713500445e-14)
Water vs  Dragon =>  Ttest_indResult(statistic=7.093296938727237, pvalue=1.9600598256152886e-12)
Water vs  Flying =>  Ttest_indResult(statistic=10.777094353853661, pvalue=3.4248355277568715e-26)
Water vs  Ground =>  Ttest_indResult(statistic=7.093296938727237, pvalue=1.9600598256152886e-12)
Water vs  Grass =>  Ttest_indResult(statistic=3.3162953973930582, pvalue=0.0009326494664906599)
Water vs  Water =>  Ttest_indResult(statistic=0.0, pvalue=1.0)
Water vs  Rock =>  Ttest_indResult(statistic=5.787022564910866, pvalue=8.60575113085906e-09)
Water vs  Ice =>  Ttest_indResult(statistic=8.041655763880296, pvalue=1.7094056963326354e-15)
Water vs  Fire =>  Ttest_indResult(statistic=4.980644196664848, pvalue=7.023943842642685e-07)
Water vs  Psychic =>  Ttest_indResult(statistic=4.4990537899725895, pvalue=7.318704846993069e-06)
Water vs  Steel =>  Ttest_indResult(statistic=7.677875937845594, pvalue=2.7996484713500445e-14)
Water vs  Dark =>  Ttest_indResult(statistic=7.208146191972842, pvalue=8.712689621398527e-13)
Water vs  Ghost =>  Ttest_indResult(statistic=7.093296938727237, pvalue=1.9600598256152886e-12)
Water vs  Electric =>  Ttest_indResult(statistic=5.787022564910866, pvalue=8.60575113085906e-09)
Water vs  Fairy =>  Ttest_indResult(statistic=8.932891572084241, pvalue=1.115142341687798e-18)
Water vs  Normal =>  Ttest_indResult(statistic=1.0362039200967186, pvalue=0.30026379225208716)

In [12]:
ttest_ind(pokemon['Type 1']=='Water',pokemon['Type 1']!='Water',equal_var=True)

Ttest_indResult(statistic=-41.47416439534808, pvalue=8.109527568920695e-256)

Write your conclusion below.

In [13]:
# Your conclusions here:
    #Dans l'ensemble il y a une différence sugnificative entre les Type non 'water' et le reste des Types de Pokemon.  
    #de même type par type

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [14]:
# Your code here:
    #H0=>mu =0
    #H1 => mu!=0

ttest_rel(pokemon.Attack, pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [15]:
# Your conclusions here:
    #la p-value est trè faible. Par conséquent, j'élimine l'H0

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [16]:
# Your code here:
    #H0=>mu =0
    #H1 => mu !=0

ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [20]:
# Your conclusions here:
    #compte-tenu du résultat, 
    # je rejette donc l'hypothese nulle

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [23]:
# Your code here:
from scipy.stats import ttest_1samp

sp_atk = pokemon['Sp. Atk']
sp_def = pokemon['Sp. Def']

ttest_1samp(sp_atk-sp_def,0)

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,legendary_regular,Type_water
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Regular,Not water
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Regular,Not water
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Regular,Not water
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Regular,Not water
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Regular,Not water

In [38]:
# Your code here:
pokemon['legendary_regular']=np.where(pokemon['Legendary']==True,'Legendary','Regular')
pokemon['Type_water']=np.where(pokemon['Type 1']=='Water','Water','Not water')
contingency = pd.crosstab(pokemon['legendary_regular'],pokemon['Type_water'],margins=False)
contingency

Type_water         Not water  Water
legendary_regular
Legendary                 61      4
Regular                  627    108

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [48]:
# Your code here:
st_chi2, st_p, st_dof, st_exp = stats.chi2_contingency(contingency,correction=True, lambda_=None)
st_chi2, st_p, st_dof, st_exp

# Statistique khi2 => st_chi2
 
# Nombe de degrés de liberté => st_dof
 
# Pvalue : l'unique valeur nécessaire pour prendre une décision => st_p

# st_exp => tableau des fréquences attendues

(2.94292007628505, 0.08625467249550997, 1, array([[ 55.9,   9.1],
        [632.1, 102.9]]))

Based on a 95% confidence, should we reject the null hypothesis?

CCl : Comme la valeur de p est supérieure à 0,05, j'accepte l'hypothèse nulle (H0) et conclut qu'il n'y a pas de différence significative entre les pokemon Water et les autres pokemon.