# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
#Import your libraries
import pandas as pd
import numpy as np


# Challenge 1 - Import and Describe the Dataset

#### In this challenge we will use the `austin_weather.csv` file. 

#### First import it into a data frame called `austin`.

In [2]:
# Your code here
austin_dataset = pd.read_csv('../austin_weather.csv')
austin = pd.DataFrame(austin_dataset)
austin.head(3)

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,

#### Next, describe the dataset you have loaded: 
- Look at the variables and their types
- Examine the descriptive statistics of the numeric variables 
- Look at the first five rows of all variables to evaluate the categorical variables as well

In [3]:
# Your code here
austin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 21 columns):
Date                          1319 non-null object
TempHighF                     1319 non-null int64
TempAvgF                      1319 non-null int64
TempLowF                      1319 non-null int64
DewPointHighF                 1319 non-null object
DewPointAvgF                  1319 non-null object
DewPointLowF                  1319 non-null object
HumidityHighPercent           1319 non-null object
HumidityAvgPercent            1319 non-null object
HumidityLowPercent            1319 non-null object
SeaLevelPressureHighInches    1319 non-null object
SeaLevelPressureAvgInches     1319 non-null object
SeaLevelPressureLowInches     1319 non-null object
VisibilityHighMiles           1319 non-null object
VisibilityAvgMiles            1319 non-null object
VisibilityLowMiles            1319 non-null object
WindHighMPH                   1319 non-null object
WindAvgMPH                    1319 non-null object
WindGustMPH                   1319 non-null object
PrecipitationSumInches        1319 non-null object
Events                        1319 non-null object
dtypes: int64(3), object(18)
memory usage: 216.5+ KB

In [4]:
# Your code here
austin.select_dtypes(include=['int64']).describe()

         TempHighF     TempAvgF     TempLowF
count  1319.000000  1319.000000  1319.000000
mean     80.862775    70.642911    59.902957
std      14.766523    14.045904    14.190648
min      32.000000    29.000000    19.000000
25%      72.000000    62.000000    49.000000
50%      83.000000    73.000000    63.000000
75%      92.000000    83.000000    73.000000
max     107.000000    93.000000    81.000000

In [5]:
# Your code here
austin.select_dtypes(exclude=['int64']).head()

,Date,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,67,49,43,93,75,57,29.86,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,43,36,28,93,68,43,30.41,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,31,27,23,76,52,27,30.56,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,36,28,21,89,56,22,30.56,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,44,40,36,86,71,56,30.41,30.33,30.27,10,10,7,10,2,16,T,

#### Given the information you have learned from examining the dataset, write down three insights about the data in a markdown cell below

#### Your Insights:

1. There are 21 variables in the dataset. 3 of them are numeric and the rest contain some text.

2. The average temperature in Austin ranged between around 70 degrees F and around 93 degrees F. The highest temperature observed during this period was 107 degrees F and the lowest was 19 degrees F.

3. When we look at the head function, we see that a lot of variables contain numeric data even though these columns are of object type. This means we might have to do some data cleansing.

#### Let's examine the DewPointAvgF variable by using the `unique()` function to list all unique values in this dataframe.

Describe what you find in a markdown cell below the code. What did you notice? What do you think made Pandas to treat this column as *object* instead of *int64*?

In [6]:
# Your code here
austin.DewPointAvgF.unique()

array(['49', '36', '27', '28', '40', '39', '41', '26', '42', '22', '48',
       '32', '8', '11', '45', '55', '61', '37', '47', '25', '23', '20',
       '33', '30', '29', '17', '14', '13', '54', '59', '15', '24', '34',
       '35', '57', '50', '53', '60', '46', '56', '51', '31', '38', '62',
       '43', '63', '64', '67', '66', '58', '70', '68', '65', '69', '71',
       '72', '-', '73', '74', '21', '44', '52', '12', '75', '76', '18'],
      dtype=object)

## Your observation here
Les valeurs sont des entiers mais les données ont été entrées comme des chaînes de caractères (string).

The following is a list of columns misrepresented as `object`. Use this list to convert the columns to numeric using the `pandas.to_numeric` function in the next cell. If you encounter errors in converting strings to numeric values, you need to catch those errors and force the conversion by supplying `errors='coerce'` as an argument for `pandas.to_numeric`. Coercing will replace non-convertable elements with `NaN` which represents an undefined numeric value. This makes it possible for us to conveniently handle missing values in subsequent data processing.

*Hint: you may use a loop to change one column at a time but it is more efficient to use `apply`.*

In [7]:
wrong_type_columns = ['DewPointHighF', 'DewPointAvgF', 'DewPointLowF', 'HumidityHighPercent', 
                      'HumidityAvgPercent', 'HumidityLowPercent', 'SeaLevelPressureHighInches', 
                      'SeaLevelPressureAvgInches' ,'SeaLevelPressureLowInches', 'VisibilityHighMiles',
                      'VisibilityAvgMiles', 'VisibilityLowMiles', 'WindHighMPH', 'WindAvgMPH', 
                      'WindGustMPH', 'PrecipitationSumInches']

In [8]:
# Your code here
austin[wrong_type_columns]=austin[wrong_type_columns].apply(pd.to_numeric, errors='coerce')
austin.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,29.68,29.59,10.0,7.0,2.0,20.0,4.0,31.0,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,30.13,29.87,10.0,10.0,5.0,16.0,6.0,25.0,0.00,
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,30.49,30.41,10.0,10.0,10.0,8.0,3.0,12.0,0.00,
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,30.45,30.30,10.0,10.0,7.0,12.0,4.0,20.0,0.00,
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,NaN,

#### Check if your code has worked by printing the data types again. You should see only two `object` columns (`Date` and `Events`) now. All other columns should be `int64` or `float64`.

In [9]:
# Your code here
austin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 21 columns):
Date                          1319 non-null object
TempHighF                     1319 non-null int64
TempAvgF                      1319 non-null int64
TempLowF                      1319 non-null int64
DewPointHighF                 1312 non-null float64
DewPointAvgF                  1312 non-null float64
DewPointLowF                  1312 non-null float64
HumidityHighPercent           1317 non-null float64
HumidityAvgPercent            1317 non-null float64
HumidityLowPercent            1317 non-null float64
SeaLevelPressureHighInches    1316 non-null float64
SeaLevelPressureAvgInches     1316 non-null float64
SeaLevelPressureLowInches     1316 non-null float64
VisibilityHighMiles           1307 non-null float64
VisibilityAvgMiles            1307 non-null float64
VisibilityLowMiles            1307 non-null float64
WindHighMPH                   1317 non-null float64
WindAvgMPH                    1317 non-null float64
WindGustMPH                   1315 non-null float64
PrecipitationSumInches        1195 non-null float64
Events                        1319 non-null object
dtypes: float64(16), int64(3), object(2)
memory usage: 216.5+ KB

# Challenge 2 - Handle the Missing Data

#### Now that we have fixed the type mismatch, let's address the missing data.

By coercing the columns to numeric, we have created `NaN` for each cell containing characters. We should choose a strategy to address these missing data.

The first step is to examine how many rows contain missing data.

We check how much missing data we have by applying the `.isnull()` function to our dataset. To find the rows with missing data in any of its cells, we apply `.any(axis=1)` to the function. `austin.isnull().any(axis=1)` will return a column containing true if the row contains at least one missing value and false otherwise. Therefore we must subset our dataframe with this column. This will give us all rows with at least one missing value. 

#### In the next cell, identify all rows containing at least one missing value. Assign the dataframes with missing values to a variable called `missing_values`.

In [10]:
# Your code here
missing_values = austin.loc[austin.isnull().any(axis=1) ==True]

There are multiple strategies to handle missing data. Below lists the most common ones data scientists use:

* Removing all rows or all columns containing missing data. This is the simplest strategy. It may work in some cases but not others.

* Filling all missing values with a placeholder value. 
    * For categorical data, `0`, `-1`, and `9999` are some commonly used placeholder values. 
    * For continuous data, some may opt to fill all missing data with the mean. This strategy is not optimal since it can increase the fit of the model.

* Filling the values using some algorithm. 

#### In our case, we will use a hybrid approach which is to first remove the data that contain most missing values then fill in the rest of the missing values with the *linear interpolation* algorithm.

#### Next, count the number of rows of `austin` and `missing_values`.

In [11]:
# Your code here
austin_numOfRows = len(austin.index)
missing_values_numOfRows = len(missing_values.index)
print('austin_numOfRows :',austin_numOfRows,'/ missing_values_numOfRows :',missing_values_numOfRows)

austin_numOfRows : 1319 / missing_values_numOfRows : 136

#### Calculate the ratio of missing rows to total rows

In [12]:
# Your code here
missing_values_numOfRows/austin_numOfRows

0.10310841546626232

As you can see, there is a large proportion of missing data (over 10%). Perhaps we should evaluate which columns have the most missing data and remove those columns. For the remaining columns, we will perform a linear approximation of the missing data.

We can find the number of missing rows in each column using the `.isna()` function. We then chain the `.sum` function to the `.isna()` function and find the number of missing rows per column

In [13]:
# Your code here
austin.isna().sum()

Date                            0
TempHighF                       0
TempAvgF                        0
TempLowF                        0
DewPointHighF                   7
DewPointAvgF                    7
DewPointLowF                    7
HumidityHighPercent             2
HumidityAvgPercent              2
HumidityLowPercent              2
SeaLevelPressureHighInches      3
SeaLevelPressureAvgInches       3
SeaLevelPressureLowInches       3
VisibilityHighMiles            12
VisibilityAvgMiles             12
VisibilityLowMiles             12
WindHighMPH                     2
WindAvgMPH                      2
WindGustMPH                     4
PrecipitationSumInches        124
Events                          0
dtype: int64

#### As you can see from the output, the majority of missing data is in one column called `PrecipitationSumInches`. What's the number of missing values in this column in ratio to its total number of rows?

In [14]:
# Your code here
PrecipitationSumInches_ratio = austin.PrecipitationSumInches.isna().sum()/len(austin.PrecipitationSumInches)
PrecipitationSumInches_ratio

0.09401061410159212

Over 10% data missing! Therefore, we prefer to remove this column instead of filling its missing values. It doesn't make sense to *guess* its missing values because the estimation will be too 

#### Remove this column from `austin` using the `.drop()` function. Use the `inplace=True` argument.

*Hints:*

* By supplying `inplace=True` to `drop()`, the original dataframe object will be changed in place and the function will return `None`. In contrast, if you don't supply `inplace=True`, which is equivalent to supplying `inplace=False` because `False` is the default value, the original dataframe object will be kept and the function returns a copy of the transformed dataframe object. In the latter case, you'll have to assign the returned object back to your variable.

* Also, since you are dropping a column instead of a row, you'll need to supply `axis=1` to `drop()`.

[Reference for `pandas.DataFrame.drop`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [15]:
# Your code here 
austin = austin.drop(axis=1, columns='PrecipitationSumInches', inplace=False)
# Print `austin` to confirm the column is indeed removed

austin.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Events
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,29.86,29.68,29.59,10.0,7.0,2.0,20.0,4.0,31.0,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,30.41,30.13,29.87,10.0,10.0,5.0,16.0,6.0,25.0,
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,30.56,30.49,30.41,10.0,10.0,10.0,8.0,3.0,12.0,
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,30.56,30.45,30.30,10.0,10.0,7.0,12.0,4.0,20.0,
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,30.41,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,

#### Next we will perform linear interpolation of the missing data.

This means that we will use a linear algorithm to estimate the missing data. Linear interpolation assumes that there is a straight line between the points and the missing point will fall on that line. This is a good enough approximation for weather related data. Weather related data is typically a time series. Therefore, we do not want to drop rows from our data if possible. It is prefereable to estimate the missing values rather than remove the rows. However, if you have data from a single point in time, perhaps a better solution would be to remove the rows. 

If you would like to read more about linear interpolation, you can do so [here](https://en.wikipedia.org/wiki/Linear_interpolation).

In the following cell, use the `.interpolate()` function on the entire dataframe. This time pass the `inplace=False` argument to the function and assign the interpolated dataframe to a new variable called `austin_fixed` so that we can compare with `austin`.

In [16]:
# Your code here
austin_fixed = austin.interpolate(inplace=False)

#### Check to make sure `austin_fixed` contains no missing data. Also check `austin` - it still contains missing data.

In [17]:
# Your code here
austin_fixed.isna().sum(),austin.isna().sum()

(Date                          0
 TempHighF                     0
 TempAvgF                      0
 TempLowF                      0
 DewPointHighF                 0
 DewPointAvgF                  0
 DewPointLowF                  0
 HumidityHighPercent           0
 HumidityAvgPercent            0
 HumidityLowPercent            0
 SeaLevelPressureHighInches    0
 SeaLevelPressureAvgInches     0
 SeaLevelPressureLowInches     0
 VisibilityHighMiles           0
 VisibilityAvgMiles            0
 VisibilityLowMiles            0
 WindHighMPH                   0
 WindAvgMPH                    0
 WindGustMPH                   0
 Events                        0
 dtype: int64, Date                           0
 TempHighF                      0
 TempAvgF                       0
 TempLowF                       0
 DewPointHighF                  7
 DewPointAvgF                   7
 DewPointLowF                   7
 HumidityHighPercent            2
 HumidityAvgPercent             2
 HumidityLowPercent             2
 SeaLevelPressureHighInches     3
 SeaLevelPressureAvgInches      3
 SeaLevelPressureLowInches      3
 VisibilityHighMiles           12
 VisibilityAvgMiles            12
 VisibilityLowMiles            12
 WindHighMPH                    2
 WindAvgMPH                     2
 WindGustMPH                    4
 Events                         0
 dtype: int64)

# Challenge 3 - Processing the `Events` Column

#### Our dataframe contains one true text column - the Events column. We should evaluate this column to determine how to process it.

Use the `value_counts()` function to evaluate the contents of this column

In [18]:
# Your code here:
austin.Events.value_counts()

                             903
Rain                         192
Rain , Thunderstorm          137
Fog , Rain , Thunderstorm     33
Fog                           21
Thunderstorm                  17
Fog , Rain                    14
Rain , Snow                    1
Fog , Thunderstorm             1
Name: Events, dtype: int64

Reading the values of `Events` and reflecting what those values mean in the context of data, you realize this column indicates what weather events had happened in a particular day.

#### What is the largest number of events happened in a single day? Enter your answer in the next cell.

In [19]:
# Your answer:
#Nothing

#### We want to transform the string-type `Events` values to the numbers. This will allow us to apply machine learning algorithms easily.

How? We will create a new column for each type of events (i.e. *Rain*, *Snow*, *Fog*, *Thunderstorm*. In each column, we use `1` to indicate if the corresponding event happened in that day and use `0` otherwise.

Below we provide you a list of all event types. Loop the list and create a dummy column with `0` values for each event in `austin_fixed`. To create a new dummy column with `0` values, simply use `austin_fixed[event] = 0`.

In [20]:
event_list = ['Snow', 'Fog', 'Rain', 'Thunderstorm']

# Your code here
for x in event_list:
    austin_fixed['event'] = 0


# Print your new dataframe to check whether new columns have been created:

austin_fixed.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Events,event
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,29.68,29.59,10.0,7.0,2.0,20.0,4.0,31.0,"Rain , Thunderstorm",0
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,30.13,29.87,10.0,10.0,5.0,16.0,6.0,25.0,,0
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,30.49,30.41,10.0,10.0,10.0,8.0,3.0,12.0,,0
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,30.45,30.30,10.0,10.0,7.0,12.0,4.0,20.0,,0
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,,0

#### Next, populate the actual values in the dummy columns of  `austin_fixed`.

You will check the *Events* column. If its string value contains `Rain`, then the *Rain* column should be `1`. The same for `Snow`, `Fog`, and `Thunderstorm`.

*Hints:*

* Use [`pandas.Series.str.contains()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html) to create the value series of each new column.

* What if the values you populated are booleans instead of numbers? You can cast the boolean values to numbers by using `.astype(int)`. For instance, `pd.Series([True, True, False]).astype(int)` will return a new series with values of `[1, 1, 0]`.

In [22]:
# Your code here
for x in event_list:
    austin_fixed[x] = austin_fixed.Events.str.contains(x).astype(int)

#### Print out `austin_fixed` to check if the event columns are populated with the intended values

In [23]:
# Your code here
austin_fixed.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Events,event,Snow,Fog,Rain,Thunderstorm
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,2.0,20.0,4.0,31.0,"Rain , Thunderstorm",0,0,0,1,1
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,5.0,16.0,6.0,25.0,,0,0,0,0,0
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,8.0,3.0,12.0,,0,0,0,0,0
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,7.0,12.0,4.0,20.0,,0,0,0,0,0
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,7.0,10.0,2.0,16.0,,0,0,0,0,0

#### If your code worked correctly, now we can drop the `Events` column as we don't need it any more.

In [24]:
# Your code here
austin_fixed.drop(columns=['Events','event'],inplace=True,axis=0)

In [25]:
austin_fixed.head(3)

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Snow,Fog,Rain,Thunderstorm
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,10.0,7.0,2.0,20.0,4.0,31.0,0,0,1,1
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,10.0,5.0,16.0,6.0,25.0,0,0,0,0
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,10.0,8.0,3.0,12.0,0,0,0,0

# Challenge 4 - Processing The `Date` Column

The `Date` column is another non-numeric field in our dataset. A value in that field looks like `'2014-01-06'` which consists of the year, month, and day connected with hyphens. One way to convert the date string to numerical is using a similar approach as we used for `Events`, namely splitting the column into numerical `Year`, `Month`, and `Day` columns. In this challenge we'll show you another way which is to use the Python `datetime` library's `toordinal()` function. Depending on what actual machine learning analysis you will conduct, each approach has its pros and cons. Our goal today is to practice data preparation so we'll skip the discussion here.

Here you can find the [reference](https://docs.python.org/3/library/datetime.html) and [example](https://stackoverflow.com/questions/39846918/convert-date-to-ordinal-python) for `toordinal`. The basic process is to first convert the string to a `datetime` object using `datetime.datetime.strptime`, then convert the `datetime` object to numerical using `toordinal`.

#### In the cell below, convert the `Date` column values from string to numeric values using `toordinal()`.

In [26]:
# Your code hereimport datetime
from datetime import datetime

austin_fixed['Date']=austin_fixed['Date'].map(lambda x: datetime.strptime(x,'%Y-%M-%d').toordinal())

#### Print `austin_fixed` to check your `Date` column.

In [27]:
austin_fixed.head(5)

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Snow,Fog,Rain,Thunderstorm
0,734889,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,10.0,7.0,2.0,20.0,4.0,31.0,0,0,1,1
1,734890,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,10.0,5.0,16.0,6.0,25.0,0,0,0,0
2,734891,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,10.0,8.0,3.0,12.0,0,0,0,0
3,734892,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,10.0,7.0,12.0,4.0,20.0,0,0,0,0
4,734893,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,10.0,7.0,10.0,2.0,16.0,0,0,0,0

# Challenge 5 - Sampling and Holdout Sets

#### Now that we have processed the data for machine learning, we will separate the data to test and training sets.

We first train the model using only the training set. We check our metrics on the training set. We then apply the model to the test set and check our metrics on the test set as well. If the metrics are significantly more optimal on the training set, then we know we have overfit our model. We will need to revise our model to ensure it will be more applicable to data outside the test set.

#### In the next cells we will separate the data into a training set and a test set using the `train_test_split()` function in scikit-learn.

When using `scikit-learn` for machine learning, we first separate the data to predictor and response variables. This is the standard way of passing datasets into a model in `scikit-learn`. The `scikit-learn` will then find out whether the predictors and responses fit the model.

In the next cell, assign the `TempAvgF` column to `y` and the remaining columns to `X`. Your `X` should be a subset of `austin_fixed` containing the following columns: 

```['Date',
 'TempHighF',
 'TempLowF',
 'DewPointHighF',
 'DewPointAvgF',
 'DewPointLowF',
 'HumidityHighPercent',
 'HumidityAvgPercent',
 'HumidityLowPercent',
 'SeaLevelPressureHighInches',
 'SeaLevelPressureAvgInches',
 'SeaLevelPressureLowInches',
 'VisibilityHighMiles',
 'VisibilityAvgMiles',
 'VisibilityLowMiles',
 'WindHighMPH',
 'WindAvgMPH',
 'WindGustMPH',
 'Snow',
 'Fog',
 'Rain',
 'Thunderstorm']```
 
 Your `y` should be a subset of `austin_fixed` containing one column `TempAvgF`.

In [28]:
# Your code here:
y=austin_fixed[['TempAvgF']]
X = austin_fixed[['TempHighF',
 'TempLowF',
 'DewPointHighF',
 'DewPointAvgF',
 'DewPointLowF',
 'HumidityHighPercent',
 'HumidityAvgPercent',
 'HumidityLowPercent',
 'SeaLevelPressureHighInches',
 'SeaLevelPressureAvgInches',
 'SeaLevelPressureLowInches',
 'VisibilityHighMiles',
 'VisibilityAvgMiles',
 'VisibilityLowMiles',
 'WindHighMPH',
 'WindAvgMPH',
 'WindGustMPH',
 'Snow',
 'Fog',
 'Rain',
 'Thunderstorm']]

In the next cell, import `train_test_split` from `sklearn.model_selection`

In [29]:
#Your code here:
from sklearn.model_selection import train_test_split

Now that we have split the data to predictor and response variables and imported the `train_test_split()` function, split `X` and `y` into `X_train`, `X_test`, `y_train`, and `y_test`. 80% of the data should be in the training set and 20% in the test set. `train_test_split()` reference can be accessed [here](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html).


Enter your code in the cell below:

In [30]:
#Your code here:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, train_size=0.80)
X_train, X_test, y_train, y_test

(      TempHighF  TempLowF  DewPointHighF  DewPointAvgF  DewPointLowF  \
 108          77        50           50.0          38.0          27.0
 1275        100        78           74.0          71.0          67.0
 120          75        61           63.0          59.0          55.0
 1185         85        64           65.0          60.0          53.0
 24           76        37           31.0          25.0          20.0
 856          88        70           73.0          69.0          67.0
 998          92        76           76.0          71.0          69.0
 628          96        72           76.0          73.0          68.0
 821          68        35           39.0          34.0          30.0
 502          83        73           73.0          71.0          69.0
 607          84        73           74.0          71.0          66.0
 331          53        30           27.0          21.0          14.0
 318          75        58           69.0          63.0          57.0
 438          70        34           67.0          56.0          32.0
 734          70        51           66.0          53.0          43.0
 835          83        53           53.0          46.0          38.0
 888          77        65           69.0          66.0          64.0
 660          99        72           73.0          67.0          64.0
 1176         66        61           64.0          62.0          59.0
 1231         86        55           48.0          42.0          38.0
 278          83        62           66.0          62.0          57.0
 997          94        74           75.0          72.0          69.0
 886          86        77           77.0          75.0          73.0
 1221         90        62           70.0          65.0          54.0
 413          69        40           53.0          46.0          39.0
 854          83        55           59.0          54.0          50.0
 1161         80        54           50.0          35.0          28.0
 298          88        56           51.0          46.0          40.0
 1187         83        68           64.0          62.0          58.0
 330          50        34           49.0          45.0          28.0
 ...         ...       ...            ...           ...           ...
 103          82        71           69.0          67.0          66.0
 43           55        35           40.0          33.0          27.0
 818          79        56           69.0          66.0          51.0
 1307        103        77           75.0          69.0          61.0
 535          95        72           70.0          67.0          61.0
 1169         59        54           57.0          52.0          39.0
 880          76        61           65.0          61.0          59.0
 1070         66        55           60.0          57.0          49.0
 933         100        79           75.0          71.0          65.0
 858          90        62           71.0          58.0          36.0
 739          57        41           44.0          42.0          39.0
 1116         79        59           58.0          56.0          53.0
 627          93        74           75.0          73.0          68.0
 720          79        52           65.0          61.0          51.0
 659          95        64           64.0          61.0          59.0
 669          86        72           70.0          68.0          65.0
 348          66        58           65.0          61.0          55.0
 682          80        57           62.0          59.0          55.0
 1093         37        26           18.0          12.0          10.0
 586         101        75           71.0          66.0          60.0
 327          41        31           17.0          13.0           9.0
 899          92        69           70.0          65.0          63.0
 1125         71        52           55.0          52.0          50.0
 123          87        59           64.0          61.0          57.0
 255          98        78           75.0          73.0          68.0
 562          91        77           74.0          72.0          69.0
 165          91        74           71.0          70.0          68.0
 1074         79        49           48.0          42.0          38.0
 634          93        75           74.0          72.0          69.0
 256         100        76           74.0          70.0          62.0

       HumidityHighPercent  HumidityAvgPercent  HumidityLowPercent  \
 108                  96.0                57.0                18.0
 1275                 85.0                60.0                35.0
 120                  97.0                77.0                57.0
 1185                 87.0                63.0                39.0
 24                   70.0                41.0                12.0
 856                  93.0                76.0                59.0
 998                  82.0                66.0                49.0
 628                 100.0                71.0                42.0
 821                  82.0                57.0                32.0
 502                  87.0                81.0                74.0
 607                  94.0                78.0                62.0
 331                  82.0                52.0                22.0
 318                 100.0                87.0                73.0
 438                 100.0                95.0                89.0
 734                  93.0                77.0                61.0
 835                  66.0                48.0                30.0
 888                 100.0                87.0                74.0
 660                  90.0                62.0                33.0
 1176                100.0                94.0                87.0
 1231                 67.0                44.0                20.0
 278                  90.0                74.0                58.0
 997                 100.0                73.0                46.0
 886                  88.0                81.0                74.0
 1221                 90.0                73.0                55.0
 413                  93.0                71.0                49.0
 854                  87.0                61.0                34.0
 1161                 43.0                31.0                18.0
 298                  72.0                46.0                20.0
 1187                 87.0                67.0                47.0
 330                 100.0                91.0                82.0
 ...                   ...                 ...                 ...
 103                  90.0                74.0                58.0
 43                   79.0                69.0                59.0
 818                 100.0                85.0                69.0
 1307                 85.0                56.0                27.0
 535                  87.0                60.0                33.0
 1169                100.0                72.0                44.0
 880                 100.0                84.0                68.0
 1070                 97.0                87.0                77.0
 933                  85.0                60.0                35.0
 858                  93.0                54.0                15.0
 739                 100.0                80.0                59.0
 1116                 90.0                66.0                42.0
 627                 100.0                74.0                47.0
 720                 100.0                79.0                58.0
 659                  78.0                55.0                31.0
 669                  90.0                71.0                51.0
 348                 100.0                94.0                87.0
 682                 100.0                74.0                47.0
 1093                 58.0                48.0                38.0
 586                  82.0                55.0                27.0
 327                  58.0                43.0                27.0
 899                  84.0                64.0                44.0
 1125                100.0                79.0                57.0
 123                  90.0                68.0                46.0
 255                  91.0                66.0                40.0
 562                  88.0                72.0                55.0
 165                  87.0                70.0                52.0
 1074                 80.0                53.0                25.0
 634                  94.0                72.0                49.0
 256                  88.0                61.0                33.0

       SeaLevelPressureHighInches  SeaLevelPressureAvgInches  ...  \
 108                        30.20                      30.14  ...
 1275                       29.82                      29.75  ...
 120                        30.15                      30.10  ...
 1185                       30.19                      30.11  ...
 24                         30.34                      30.13  ...
 856                        29.85                      29.77  ...
 998                        30.07                      30.02  ...
 628                        29.98                      29.91  ...
 821                        30.47                      30.37  ...
 502                        29.94                      29.87  ...
 607                        30.01                      29.94  ...
 331                        30.50                      30.40  ...
 318                        30.18                      30.09  ...
 438                        30.28                      29.90  ...
 734                        30.04                      29.95  ...
 835                        30.21                      30.15  ...
 888                        29.88                      29.76  ...
 660                        29.84                      29.78  ...
 1176                       30.14                      30.09  ...
 1231                       30.11                      30.03  ...
 278                        30.14                      30.10  ...
 997                        30.03                      29.96  ...
 886                        30.03                      29.96  ...
 1221                       29.69                      29.58  ...
 413                        30.22                      30.08  ...
 854                        30.10                      30.02  ...
 1161                       30.02                      29.80  ...
 298                        30.13                      30.06  ...
 1187                       30.16                      30.07  ...
 330                        30.25                      30.00  ...
 ...                          ...                        ...  ...
 103                        29.81                      29.74  ...
 43                         30.27                      30.09  ...
 818                        30.01                      29.82  ...
 1307                       30.12                      30.03  ...
 535                        29.95                      29.89  ...
 1169                       30.40                      30.33  ...
 880                        30.05                      29.97  ...
 1070                       30.40                      30.32  ...
 933                        29.94                      29.88  ...
 858                        29.78                      29.69  ...
 739                        30.30                      30.23  ...
 1116                       30.09                      30.02  ...
 627                        29.98                      29.91  ...
 720                        29.88                      29.83  ...
 659                        30.05                      29.92  ...
 669                        30.13                      30.06  ...
 348                        30.20                      30.11  ...
 682                        30.08                      30.01  ...
 1093                       30.67                      30.49  ...
 586                        30.06                      30.01  ...
 327                        30.58                      30.52  ...
 899                        29.92                      29.88  ...
 1125                       29.99                      29.83  ...
 123                        29.93                      29.85  ...
 255                        29.97                      29.91  ...
 562                        30.07                      29.99  ...
 165                        29.93                      29.86  ...
 1074                       29.81                      29.67  ...
 634                        30.13                      30.05  ...
 256                        30.02                      29.95  ...

       VisibilityHighMiles  VisibilityAvgMiles  VisibilityLowMiles  \
 108                  10.0                10.0                10.0
 1275                 10.0                10.0                10.0
 120                  10.0                 8.0                 2.0
 1185                 10.0                10.0                10.0
 24                   10.0                10.0                10.0
 856                  10.0                10.0                 6.0
 998                  10.0                10.0                 9.0
 628                  10.0                 7.0                 0.0
 821                  10.0                10.0                10.0
 502                  10.0                 9.0                 2.0
 607                  10.0                 8.0                 1.0
 331                  10.0                10.0                10.0
 318                  10.0                 8.0                 2.0
 438                  10.0                 4.0                 0.0
 734                  10.0                 9.0                 6.0
 835                  10.0                10.0                10.0
 888                  10.0                 8.0                 2.0
 660                  10.0                 9.0                 5.0
 1176                 10.0                 6.0                 1.0
 1231                 10.0                10.0                10.0
 278                  10.0                10.0                 8.0
 997                  10.0                10.0                 6.0
 886                  10.0                 8.0                 5.0
 1221                 10.0                10.0                10.0
 413                  10.0                 8.0                 4.0
 854                  10.0                10.0                10.0
 1161                 10.0                10.0                10.0
 298                  10.0                10.0                10.0
 1187                 10.0                10.0                10.0
 330                  10.0                 4.0                 0.0
 ...                   ...                 ...                 ...
 103                  10.0                 8.0                 5.0
 43                   10.0                 8.0                 4.0
 818                  10.0                 7.0                 2.0
 1307                 10.0                10.0                10.0
 535                  10.0                10.0                10.0
 1169                 10.0                 6.0                 2.0
 880                  10.0                 5.0                 1.0
 1070                 10.0                10.0                 6.0
 933                  10.0                10.0                 9.0
 858                  10.0                 8.0                 1.0
 739                  10.0                 7.0                 3.0
 1116                 10.0                10.0                10.0
 627                  10.0                 8.0                 1.0
 720                  10.0                 6.0                 0.0
 659                  10.0                10.0                10.0
 669                  10.0                10.0                 9.0
 348                  10.0                 3.0                 1.0
 682                  10.0                 7.0                 0.0
 1093                 10.0                10.0                10.0
 586                  10.0                10.0                10.0
 327                  10.0                10.0                10.0
 899                  10.0                10.0                10.0
 1125                 10.0                10.0                10.0
 123                  10.0                10.0                10.0
 255                  10.0                10.0                10.0
 562                  10.0                 9.0                 7.0
 165                  10.0                10.0                10.0
 1074                 10.0                10.0                10.0
 634                  10.0                 9.0                 2.0
 256                  10.0                10.0                10.0

       WindHighMPH  WindAvgMPH  WindGustMPH  Snow  Fog  Rain  Thunderstorm
 108          22.0         8.0         37.0     0    0     0             0
 1275         13.0         7.0         23.0     0    0     0             0
 120          12.0         6.0         19.0     0    0     0             0
 1185         13.0         7.0         21.0     0    0     0             0
 24           16.0         5.0         29.0     0    0     0             0
 856          15.0         7.0         25.0     0    0     0             1
 998          14.0         3.0         18.0     0    0     1             0
 628          16.0         2.0         25.0     0    1     1             1
 821          12.0         4.0         20.0     0    0     0             0
 502          17.0         9.0         26.0     0    0     1             0
 607          13.0         4.0         22.0     0    0     1             1
 331          16.0         6.0         26.0     0    0     0             0
 318          17.0         5.0         28.0     0    0     1             0
 438          21.0         6.0         36.0     0    1     1             1
 734           9.0         2.0         17.0     0    0     0             0
 835          12.0         4.0         18.0     0    0     0             0
 888          12.0         6.0         21.0     0    0     1             1
 660          13.0         6.0         23.0     0    0     0             0
 1176          9.0         4.0         15.0     0    0     1             0
 1231         13.0         4.0         20.0     0    0     0             0
 278          13.0         3.0         20.0     0    0     0             0
 997           9.0         3.0         15.0     0    0     1             0
 886          13.0         6.0         22.0     0    0     0             0
 1221         16.0         7.0         26.0     0    0     0             0
 413          13.0         5.0         21.0     0    0     0             0
 854           9.0         3.0         17.0     0    0     0             0
 1161         17.0         6.0         23.0     0    0     0             0
 298           9.0         2.0         16.0     0    0     0             0
 1187         14.0         7.0         23.0     0    0     0             0
 330          17.0         6.0         28.0     0    1     1             0
 ...           ...         ...          ...   ...  ...   ...           ...
 103          14.0         7.0         25.0     0    0     0             0
 43           18.0        11.0         29.0     0    0     1             0
 818          17.0         5.0         25.0     0    0     1             1
 1307         14.0         5.0         22.0     0    0     0             0
 535           8.0         3.0         13.0     0    0     0             0
 1169         13.0         4.0         18.0     0    0     1             0
 880          15.0         5.0         29.0     0    0     1             1
 1070         10.0         4.0         14.0     0    0     1             0
 933          17.0         9.0         31.0     0    0     0             0
 858          16.0         5.0         37.0     0    0     1             1
 739           9.0         4.0         14.0     0    0     1             0

#### Congratulations! Now you have finished the preparation of the dataset!

# Bonus Challenge 1

#### While the above is the common practice to prepare most datasets, when it comes to time series data, we sometimes do not want to randomly select rows from our dataset.

This is because many time series algorithms rely on observations having equal time distances between them. In such cases, we typically select the majority of rows as the test data and the last few rows as the training data. We don't use `train_test_split()` to select the train/test data because it returns random selections.

In the following cell, compute the number of rows that account for 80% of our data and round it to the next integer. Assign this number to `ts_rows`.

In [60]:
# Your code here:
#ts_rows=len(austin_fixed.iloc[:round(len(austin_fixed)*0.80)].index)
ts_rows=round(len(austin_fixed.index)*0.80+1)
ts_rows

1056

Assign the first `ts_rows` rows of `X` to `X_ts_train` and the remaining rows to `X_ts_test`.

In [65]:
# Your code here:
X_ts_train =X[:ts_rows]#ts_rows.iloc[0] 
X_ts_test = X[ts_rows:]#ts_rows.iloc[1:]
X_ts_train.shape ,X_ts_test.shape

((1056, 21), (263, 21))

Assign the first `ts_rows` rows of `y` to `y_ts_train` and the remaining rows to `y_ts_test`.

In [67]:
# Your code here:
y_ts_train=y[:ts_rows]#ts_rows.iloc[0] #y[ts_rows]
y_ts_test = y[ts_rows:]#ts_rows.iloc[1:] 
y_ts_train.shape ,y_ts_test.shape

((1056, 1), (263, 1))

# Bonus Challenge 2

As explained in the README, the main purpose of this lab is to show you the typical process of preparing data for machine learning which sometimes takes up 90% of your time. Data cleaning is a valuable skill to learn and you need to be proficient at various techniques including the ones we showed you above as well as others you'll learn in the future. In the real world this skill will help you perform your job successfully and efficiently.

Now that we're done with data praparation, if you want to expeirence what you'll do in the rest 10% of your time, let's make the final leap.

We will use scikit-learn's [*Support Vector Machines*](https://scikit-learn.org/stable/modules/svm.html) to compute the fit of our training data set, the test on our test data set.

#### In the cell below, import `svm` from `sklearn`:

In [68]:
# Your code here
from sklearn import svm

#### Now, call `svm.SVC.fit()` on `X_train` and `y_train`. Assign the returned value to a variable called `clf` which stands for *classifier*. Then obtain the test score for `X_test` and `y_test` by calling `clf.score()`.

In [69]:
# Your code here
clf = svm.SVC(gamma='scale').fit(X_train,y_train)

clf.score(X_test, y_test)

/usr/local/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.14015151515151514

#### You now see the model fit score of your test data set. If it's extremely low, it means your selected model is not a good fit and you should try other models.

#### In addition to fitting `X_train`, `y_train`, `X_test`, and `y_test`, you can also fit `X_ts_train`, `y_ts_train`, `X_ts_test`, and `y_ts_test` if you completed Bonus Challenge 1.

In [70]:
# Your code here
clf_ts = svm.SVC(gamma='scale').fit(X_ts_train,y_ts_train)

clf_ts.score(X_ts_test, y_ts_test)

/usr/local/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.057034220532319393

#### We hope you have learned a lot of useful stuff in this lab!