## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [230]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [231]:
# Your code here
l=[i for i in range(101)]
sample_list_1=random.sample(l,80)
print(sorted(sample_list_1))

[0, 2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 15, 17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 35, 36, 37, 39, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 97, 98, 99, 100]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [232]:
# Your code here
set1 = set(sample_list_1)
print("set1: ",sorted(set1))
print("length: ",len(set1)) #the length n'est plus de 80 items

set1:  [0, 2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 15, 17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 35, 36, 37, 39, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 97, 98, 99, 100]
length:  80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [233]:
# Your code here
sample_list_2=[]
for i in l:
    while len(sample_list_2)<80:
        sample_list_2.append(random.choice(l))
print(sorted(sample_list_2))
print("length: ", len(sample_list_2))

[0, 1, 3, 5, 7, 9, 10, 10, 18, 18, 19, 22, 23, 24, 25, 25, 25, 28, 30, 31, 33, 35, 36, 38, 39, 40, 41, 41, 41, 45, 48, 51, 52, 54, 54, 57, 57, 57, 59, 60, 62, 62, 63, 63, 64, 64, 64, 66, 67, 70, 70, 71, 72, 74, 74, 74, 75, 76, 78, 78, 79, 81, 82, 82, 82, 84, 85, 86, 88, 90, 90, 92, 93, 94, 96, 97, 97, 98, 99, 99]
length:  80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [234]:
# Your code here
set2 = set(sample_list_2)
print("set2: ",sorted(set2))
print(len(set2)) #the length n'est plus de 80 items

set2:  [0, 1, 3, 5, 7, 9, 10, 18, 19, 22, 23, 24, 25, 28, 30, 31, 33, 35, 36, 38, 39, 40, 41, 45, 48, 51, 52, 54, 57, 59, 60, 62, 63, 64, 66, 67, 70, 71, 72, 74, 75, 76, 78, 79, 81, 82, 84, 85, 86, 88, 90, 92, 93, 94, 96, 97, 98, 99]
58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [235]:
# Your code here

# c = {element for element in a if element not in b} : c = a.difference(b)
set3 = set1.difference(set2)
print("set3: ",sorted(set3))

#### autre méthode ####
#set3 = set() #je crée une liste de lettre unique
#for x,y in zip(set1,set2):
 #   if x!=y: #si les nombres x de set 1 ne sont pas dans les nombres Y de set2 alors
  #      set3.add(x) #j'atoute x dans set3

set3:  [2, 4, 6, 11, 12, 13, 15, 17, 20, 27, 29, 32, 37, 43, 44, 46, 47, 49, 50, 53, 55, 56, 58, 61, 65, 68, 69, 73, 77, 87, 89, 91, 95, 100]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [236]:
# Your code here

# c = {element for element in a if element not in b} : c = a.difference(b)
set4 = set2.difference(set1)
print("set4: ",sorted(set4))

set4:  [1, 10, 33, 38, 40, 54, 66, 70, 75, 81, 94, 96]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [237]:
# Your code here

# c = {element for element in a if element not in b} : c = a.difference(b)
set5 = set1.intersection(set2)
print("set5: ",sorted(set5))

set5:  [0, 3, 5, 7, 9, 18, 19, 22, 23, 24, 25, 28, 30, 31, 35, 36, 39, 41, 45, 48, 51, 52, 57, 59, 60, 62, 63, 64, 67, 71, 72, 74, 76, 78, 79, 82, 84, 85, 86, 88, 90, 92, 93, 97, 98, 99]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [238]:
# Your code here

#### Create an empty set called `set6`.

In [239]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [240]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 15, 17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 35, 36, 37, 39, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [241]:
# Your code here

"""pour répondre à cette question, 
    je verifie que les liste font la même taille ET qu'il y a les meme elements"""

count=[count.append(True) for s1,s6 in zip(set1,set6) if s1==s6] #True car il y a les même nb dans les 2 listes
len(count) #nb de True dans la liste.  

if len(set1)==len(set6) and len(count)==len(set1):
    print("same length",("length set1:",len(set1)),("length set6:",len(set6)))
    print("same elements car nb de True = ", len(count))
    print("conclusion: set1 and set6 sont identiques")
    
###autre methode###
    #if len(set1)==len(set6): #je verifie d'abord que les liste font la même taille
        #for s1,s6 in zip(set1,set6):   
        #if s1!=s6:
         #   print(False)
        #else:
         #   count.append(True)

same length ('length set1:', 80) ('length set6:', 80)
same elements car nb de True =  80
conclusion: set1 and set6 sont identiques

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [242]:
# Your code here
#z = x.issubset(y) càd les elements de x sont dans y

z2= set2.issubset(set1)
print("z2:",z2)

z3 = set3.issubset(set1)
print("z3:",z3)

z2: False
z3: True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [243]:
# Your code here
aggreg3=set3.union(set4, set5) 
print("aggreg3 :", aggreg3)
aggreg1=set1.union(set2)
print("aggreg1 :", aggreg1)

aggreg3 : {0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 15, 17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
aggreg1 : {0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 15, 17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [244]:
# Your code here
set1.pop()
print("set1 pop :", set1)

set1 pop : {2, 3, 4, 5, 6, 7, 9, 11, 12, 13, 15, 17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 35, 36, 37, 39, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [245]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

[set1.remove(rem) for rem in list_to_remove if rem in set1]
print("set1 apres:",set1)

set1 apres: {2, 3, 4, 5, 6, 7, 12, 13, 15, 17, 18, 20, 22, 23, 24, 25, 27, 28, 30, 32, 35, 36, 37, 43, 44, 45, 46, 47, 48, 50, 52, 53, 55, 56, 57, 58, 60, 62, 63, 64, 65, 67, 68, 72, 73, 74, 76, 77, 78, 82, 84, 85, 86, 87, 88, 90, 92, 93, 95, 97, 98, 100}