# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [202]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
from lxml import html
# from lxml.html import fromstring
import urllib.request
from urllib.request import urlopen
# import random
import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
#your code
trend = requests.get(url).content
#trend

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
#your code
trend_soup = BeautifulSoup(trend,"lxml")
#trend_soup

In [5]:
text_trend =[element.text for element in trend_soup.find_all("h1", "h3 lh-condensed")]
inner_text =[element.text for element in trend_soup.find_all("p", "f4 text-normal mb-1")]
#text_trend,inner_text

In [6]:
result = [name +' ('+pseudo+')' for name,pseudo in zip(text_trend,inner_text)]
result = [r.replace('\n','') for r in result]
result

['Paulus Schoutsen (balloob)',
 'Steven Loria (sloria)',
 'Manu MA (manucorporat)',
 'Michiel Borkent (borkdude)',
 'Tomás Senart (tsenart)',
 'Arvid Norberg (arvidn)',
 'Carlos Alexandro Becker (caarlos0)',
 'Koen Kanters (Koenkk)',
 'Thibault Duplessis (ornicar)',
 'Chris Banes (chrisbanes)',
 'Arctic Ice Studio (arcticicestudio)',
 'Franck Nijhof (frenck)',
 'Aleksey Kladov (matklad)',
 'ᴍɪᴍɪ (stevenjoezhang)',
 'Brent Jackson (jxnblk)',
 'Amaury Martiny (amaurymartiny)',
 'Rafael Winterhalter (raphw)',
 'Marc Wouts (mwouts)',
 'Tyler Neely (spacejam)',
 'Lennart (LekoArts)',
 'Joel Arvidsson (oblador)',
 'Frank Denis (jedisct1)',
 'Deepak Kumar (dipakkr)',
 'radare (radare)',
 'Uri Goldshtein (Urigo)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [7]:
# This is the url you will scrape in this exercise
urlpy = 'https://github.com/trending/python?since=daily'

In [8]:
#your code
#ici le nom des repo se trouve soit dans le Href soit dans un span, après examen du code 
repo = requests.get(urlpy).content
#trend_repo
repo_soup = BeautifulSoup(repo,"lxml")
#repo_soup

In [9]:
trend_repo = repo_soup.findAll('h1',attrs={"class":"h3 lh-condensed"})

In [10]:
trend_result = [t.find('a')['href'] for t in trend_repo]
trend_result

['/0voice/interview_internal_reference',
 '/chinese-poetry/chinese-poetry',
 '/BishopFox/GitGot',
 '/cchen156/Learning-to-See-in-the-Dark',
 '/CoreyMSchafer/code_snippets',
 '/donnemartin/system-design-primer',
 '/InstaPy/instapy-quickstart',
 '/trailofbits/algo',
 '/TheSpeedX/TBomb',
 '/home-assistant/home-assistant',
 '/lazyprogrammer/machine_learning_examples',
 '/stanfordnlp/stanfordnlp',
 '/Avik-Jain/100-Days-Of-ML-Code',
 '/shengqiangzhang/examples-of-web-crawlers',
 '/vipstone/faceai',
 '/RustPython/RustPython',
 '/keon/algorithms',
 '/aburkov/theMLbook',
 '/amueller/word_cloud',
 '/scikit-learn/scikit-learn',
 '/certbot/certbot',
 '/mbadry1/DeepLearning.ai-Summary',
 '/deepmind/trfl',
 '/derv82/wifite2']

#### Display all the image links from Walt Disney wikipedia page

In [11]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [12]:
#your code
wiki = requests.get(url).content
#wiki

In [13]:
img = BeautifulSoup(wiki,'lxml')
#img

In [14]:
disney = img.find_all('img')
#disney

In [15]:
for d in disney:
    print('https://en.wikipedia.org/wiki/Walt_Disney'+d['src'])

https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/en/thumb/1/1b/Semi-protection-shackle.svg/20px-Semi-protection-shackle.svg.png
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/7/71/Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg/170px-Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Disney_Display_Case.JPG/170px-Disney_Display_Case.JPG
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/30px-Animation_disc.svg.png
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/29px-P_vip.svg.png
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/24px-Magic_Kingdom_castle.jpg
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/30px-Video-x-generic.svg.png
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/30px-Flag_of_Los_Angeles_County%2C_California.svg.png
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/USA_flag_on_television.svg/30px-USA_flag_on_television.svg.png
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/22px-Commons-logo.svg.png
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/25px-Wikiquote-logo.svg.png
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/30px-Wikidata-logo.svg.png
https://en.wikipedia.org/wiki/Walt_Disney//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png
https://en.wikipedia.org/wiki/Walt_Disney//en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1
https://en.wikipedia.org/wiki/Walt_Disney/static/images/wikimedia-button.png
https://en.wikipedia.org/wiki/Walt_Disney/static/images/poweredby_mediawiki_88x31.png

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [16]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [17]:
#your code
wikip=requests.get(url).content
#wikip

In [18]:
pyt = BeautifulSoup(wikip,'lxml')
#pyt

In [19]:
list_link=[]
images = pyt.find_all('img')
for i in images:
    list_link.append('https://en.wikipedia.org/wiki/Python'+i['src'])
list_link

['https://en.wikipedia.org/wiki/Python//upload.wikimedia.org/wikipedia/commons/thumb/9/99/Wiktionary-logo-en-v2.svg/40px-Wiktionary-logo-en-v2.svg.png',
 'https://en.wikipedia.org/wiki/Python//upload.wikimedia.org/wikipedia/en/thumb/5/5f/Disambig_gray.svg/30px-Disambig_gray.svg.png',
 'https://en.wikipedia.org/wiki/Python//en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1',
 'https://en.wikipedia.org/wiki/Python/static/images/wikimedia-button.png',
 'https://en.wikipedia.org/wiki/Python/static/images/poweredby_mediawiki_88x31.png']

In [20]:
links = pyt.find_all('link')
for l in links:
    list_link.append('https://en.wikipedia.org/wiki/Python' +l['href'])
list_link

['https://en.wikipedia.org/wiki/Python//upload.wikimedia.org/wikipedia/commons/thumb/9/99/Wiktionary-logo-en-v2.svg/40px-Wiktionary-logo-en-v2.svg.png',
 'https://en.wikipedia.org/wiki/Python//upload.wikimedia.org/wikipedia/en/thumb/5/5f/Disambig_gray.svg/30px-Disambig_gray.svg.png',
 'https://en.wikipedia.org/wiki/Python//en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1',
 'https://en.wikipedia.org/wiki/Python/static/images/wikimedia-button.png',
 'https://en.wikipedia.org/wiki/Python/static/images/poweredby_mediawiki_88x31.png',
 'https://en.wikipedia.org/wiki/Python/w/load.php?lang=en&modules=ext.3d.styles%7Cext.uls.interlanguage%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediaBadges%7Cmediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.skinning.interface%7Cmediawiki.toc.styles%7Cskins.vector.styles%7Cwikibase.client.init&only=styles&skin=vector',
 'https://en.wikipedia.org/wiki/Python/w/load.php?lang=en&modules=ext.gadget.charinsert-styles&only=styles&skin=vector',
 'https://en.wikipedia.org/wiki/Python/w/load.php?lang=en&modules=site.styles&only=styles&skin=vector',
 'https://en.wikipedia.org/wiki/Pythonandroid-app://org.wikipedia/http/en.m.wikipedia.org/wiki/Python',
 'https://en.wikipedia.org/wiki/Python/w/index.php?title=Python&action=edit',
 'https://en.wikipedia.org/wiki/Python/w/index.php?title=Python&action=edit',
 'https://en.wikipedia.org/wiki/Python/static/apple-touch/wikipedia.png',
 'https://en.wikipedia.org/wiki/Python/static/favicon/wikipedia.ico',
 'https://en.wikipedia.org/wiki/Python/w/opensearch_desc.php',
 'https://en.wikipedia.org/wiki/Python//en.wikipedia.org/w/api.php?action=rsd',
 'https://en.wikipedia.org/wiki/Python//creativecommons.org/licenses/by-sa/3.0/',
 'https://en.wikipedia.org/wiki/Pythonhttps://en.wikipedia.org/wiki/Python',
 'https://en.wikipedia.org/wiki/Python//login.wikimedia.org',
 'https://en.wikipedia.org/wiki/Python//meta.wikimedia.org']

In [21]:
ahref = pyt.find_all('a')
#for a in ahref:
#    list_link.append(a['href'])
#list_link"""
#possibilité d'ajouter le début de l'url

for a in ahref:
    href=a.get('href')
    list_link.append(href)
list_link

['https://en.wikipedia.org/wiki/Python//upload.wikimedia.org/wikipedia/commons/thumb/9/99/Wiktionary-logo-en-v2.svg/40px-Wiktionary-logo-en-v2.svg.png',
 'https://en.wikipedia.org/wiki/Python//upload.wikimedia.org/wikipedia/en/thumb/5/5f/Disambig_gray.svg/30px-Disambig_gray.svg.png',
 'https://en.wikipedia.org/wiki/Python//en.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1',
 'https://en.wikipedia.org/wiki/Python/static/images/wikimedia-button.png',
 'https://en.wikipedia.org/wiki/Python/static/images/poweredby_mediawiki_88x31.png',
 'https://en.wikipedia.org/wiki/Python/w/load.php?lang=en&modules=ext.3d.styles%7Cext.uls.interlanguage%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediaBadges%7Cmediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.skinning.interface%7Cmediawiki.toc.styles%7Cskins.vector.styles%7Cwikibase.client.init&only=styles&skin=vector',
 'https://en.wikipedia.org/wiki/Python/w/load.php?lang=en&modules=ext.gadget.charinsert-styles&only=styles&skin=vector',
 'https://en.wikipedia.org/wiki/Python/w/load.php?lang=en&modules=site.styles&only=styles&skin=vector',
 'https://en.wikipedia.org/wiki/Pythonandroid-app://org.wikipedia/http/en.m.wikipedia.org/wiki/Python',
 'https://en.wikipedia.org/wiki/Python/w/index.php?title=Python&action=edit',
 'https://en.wikipedia.org/wiki/Python/w/index.php?title=Python&action=edit',
 'https://en.wikipedia.org/wiki/Python/static/apple-touch/wikipedia.png',
 'https://en.wikipedia.org/wiki/Python/static/favicon/wikipedia.ico',
 'https://en.wikipedia.org/wiki/Python/w/opensearch_desc.php',
 'https://en.wikipedia.org/wiki/Python//en.wikipedia.org/w/api.php?action=rsd',
 'https://en.wikipedia.org/wiki/Python//creativecommons.org/licenses/by-sa/3.0/',
 'https://en.wikipedia.org/wiki/Pythonhttps://en.wikipedia.org/wiki/Python',
 'https://en.wikipedia.org/wiki/Python//login.wikimedia.org',
 'https://en.wikipedia.org/wiki/Python//meta.wikimedia.org',
 None,
 '#mw-head',
 '#p-search',
 'https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 '#Snakes',
 '#Ancient_Greece',
 '#Media_and_entertainment',
 '#Computing',
 '#Engineering',
 '#Roller_coasters',
 '#Vehicles',
 '#Weaponry',
 '#People',
 '#Other_uses',
 '#See_also',
 '/w/index.php?title=Python&action=edit&section=1',
 '/wiki/Pythonidae',
 '/wiki/Python_(genus)',
 '/w/index.php?title=Python&action=edit&section=2',
 '/wiki/Python_(mythology)',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(painter)',
 '/wiki/Python_of_Byzantium',
 '/wiki/Python_of_Catana',
 '/w/index.php?title=Python&action=edit&section=3',
 '/wiki/Python_(film)',
 '/wiki/Pythons_2',
 '/wiki/Monty_Python',
 '/wiki/Python_(Monty)_Pictures',
 '/w/index.php?title=Python&action=edit&section=4',
 '/wiki/Python_(programming_language)',
 '/wiki/CPython',
 '/wiki/CMU_Common_Lisp',
 '/wiki/PERQ#PERQ_3',
 '/w/index.php?title=Python&action=edit&section=5',
 '/w/index.php?title=Python&action=edit&section=6',
 '/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 '/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 '/wiki/Python_(Efteling)',
 '/w/index.php?title=Python&action=edit&section=7',
 '/wiki/Python_(automobile_maker)',
 '/wiki/Python_(Ford_prototype)',
 '/w/index.php?title=Python&action=edit&section=8',
 '/wiki/Colt_Python',
 '/wiki/Python_(missile)',
 '/wiki/Python_(nuclear_primary)',
 '/w/index.php?title=Python&action=edit&section=9',
 '/wiki/Python_Anghelo',
 '/w/index.php?title=Python&action=edit&section=10',
 '/wiki/PYTHON',
 '/w/index.php?title=Python&action=edit&section=11',
 '/wiki/Cython',
 '/wiki/Pyton',
 '/wiki/File:Disambig_gray.svg',
 '/wiki/Help:Disambiguation',
 '//en.wikipedia.org/w/index.php?title=Special:WhatLinksHere/Python&namespace=0',
 'https://en.wikipedia.org/w/index.php?title=Python&oldid=905477736',
 '/wiki/Help:Category',
 '/wiki/Category:Disambiguation_pages',
 '/wiki/Category:Disambiguation_pages_with_short_description',
 '/wiki/Category:All_article_disambiguation_pages',
 '/wiki/Category:All_disambiguation_pages',
 '/wiki/Category:Animal_common_name_disambiguation_pages',
 '/wiki/Special:MyTalk',
 '/wiki/Special:MyContributions',
 '/w/index.php?title=Special:CreateAccount&returnto=Python',
 '/w/index.php?title=Special:UserLogin&returnto=Python',
 '/wiki/Python',
 '/wiki/Talk:Python',
 '/wiki/Python',
 '/w/index.php?title=Python&action=edit',
 '/w/index.php?title=Python&action=history',
 '/wiki/Main_Page',
 '/wiki/Main_Page',
 '/wiki/Portal:Contents',
 '/wiki/Portal:Featured_content',
 '/wiki/Portal:Current_events',
 '/wiki/Special:Random',
 'https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en',
 '//shop.wikimedia.org',
 '/wiki/Help:Contents',
 '/wiki/Wikipedia:About',
 '/wiki/Wikipedia:Community_portal',
 '/wiki/Special:RecentChanges',
 '//en.wikipedia.org/wiki/Wikipedia:Contact_us',
 '/wiki/Special:WhatLinksHere/Python',
 '/wiki/Special:RecentChangesLinked/Python',
 '/wiki/Wikipedia:File_Upload_Wizard',
 '/wiki/Special:SpecialPages',
 '/w/index.php?title=Python&oldid=905477736',
 '/w/index.php?title=Python&action=info',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452',
 '/w/index.php?title=Special:CiteThisPage&page=Python&id=905477736',
 'https://commons.wikimedia.org/wiki/Category:Python',
 '/w/index.php?title=Special:Book&bookcmd=book_creator&referer=Python',
 '/w/index.php?title=Special:ElectronPdf&page=Python&action=show-download-screen',
 '/w/index.php?title=Python&printable=yes',
 'https://af.wikipedia.org/wiki/Python',
 'https://als.wikipedia.org/wiki/Python',
 'https://az.wikipedia.org/wiki/Python',
 'https://bn.wikipedia.org/wiki/%E0%A6%AA%E0%A6%BE%E0%A6%87%E0%A6%A5%E0%A6%A8_(%E0%A6%A6%E0%A7%8D%E0%A6%AC%E0%A7%8D%E0%A6%AF%E0%A6%B0%E0%A7%8D%E0%A6%A5%E0%A6%A4%E0%A6%BE_%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A6%B8%E0%A6%A8)',
 'https://be.wikipedia.org/wiki/Python',
 'https://bg.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%BF%D0%BE%D1%8F%D1%81%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5)',
 'https://cs.wikipedia.org/wiki/Python_(rozcestn%C3%ADk)',
 'https://da.wikipedia.org/wiki/Python',
 'https://de.wikipedia.org/wiki/Python',
 'https://eo.wikipedia.org/wiki/Pitono_(apartigilo)',
 'https://eu.wikipedia.org/wiki/Python_(argipena)',
 'https://fa.wikipedia.org/wiki/%D9%BE%D8%A7%DB%8C%D8%AA%D9%88%D9%86',
 'https://fr.wikipedia.org/wiki/Python',
 'https://ko.wikipedia.org/wiki/%ED%8C%8C%EC%9D%B4%EC%84%A0',
 'https://hr.wikipedia.org/wiki/Python_(razdvojba)',
 'https://io.wikipedia.org/wiki/Pitono',
 'https://id.wikipedia.org/wiki/Python',
 'https://ia.wikipedia.org/wiki/Python_(disambiguation)',
 'https://is.wikipedia.org/wiki/Python_(a%C3%B0greining)',
 'https://it.wikipedia.org/wiki/Python_(disambigua)',
 'https://he.wikipedia.org/wiki/%D7%A4%D7%99%D7%AA%D7%95%D7%9F',
 'https://ka.wikipedia.org/wiki/%E1%83%9E%E1%83%98%E1%83%97%E1%83%9D%E1%83%9C%E1%83%98_(%E1%83%9B%E1%83%A0%E1%83%90%E1%83%95%E1%83%90%E1%83%9A%E1%83%9B%E1%83%9C%E1%83%98%E1%83%A8%E1%83%95%E1%83%9C%E1%83%94%E1%83%9A%E1%83%9D%E1%83%95%E1%83%90%E1%83%9C%E1%83%98)',
 'https://kg.wikipedia.org/wiki/Mboma_(nyoka)',
 'https://la.wikipedia.org/wiki/Python_(discretiva)',
 'https://lb.wikipedia.org/wiki/Python',
 'https://hu.wikipedia.org/wiki/Python_(egy%C3%A9rtelm%C5%B1s%C3%ADt%C5%91_lap)',
 'https://mr.wikipedia.org/wiki/%E0%A4%AA%E0%A4%BE%E0%A4%AF%E0%A4%A5%E0%A5%89%E0%A4%A8_(%E0%A4%86%E0%A4%9C%E0%A5%8D%E0%A4%9E%E0%A4%BE%E0%A4%B5%E0%A4%B2%E0%A5%80_%E0%A4%AD%E0%A4%BE%E0%A4%B7%E0%A4%BE)',
 'https://nl.wikipedia.org/wiki/Python',
 'https://ja.wikipedia.org/wiki/%E3%83%91%E3%82%A4%E3%82%BD%E3%83%B3',
 'https://no.wikipedia.org/wiki/Pyton',
 'https://pl.wikipedia.org/wiki/Pyton',
 'https://pt.wikipedia.org/wiki/Python_(desambigua%C3%A7%C3%A3o)',
 'https://ru.wikipedia.org/wiki/Python_(%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8F)',
 'https://sd.wikipedia.org/wiki/%D8%A7%D8%B1%DA%99',
 'https://sk.wikipedia.org/wiki/Python',
 'https://sh.wikipedia.org/wiki/Python',
 'https://fi.wikipedia.org/wiki/Python',
 'https://sv.wikipedia.org/wiki/Pyton',
 'https://th.wikipedia.org/wiki/%E0%B9%84%E0%B8%9E%E0%B8%97%E0%B8%AD%E0%B8%99',
 'https://tr.wikipedia.org/wiki/Python',
 'https://uk.wikipedia.org/wiki/%D0%9F%D1%96%D1%84%D0%BE%D0%BD',
 'https://ur.wikipedia.org/wiki/%D9%BE%D8%A7%D8%A6%DB%8C%D8%AA%DA%BE%D9%88%D9%86',
 'https://vi.wikipedia.org/wiki/Python',
 'https://zh.wikipedia.org/wiki/Python_(%E6%B6%88%E6%AD%A7%E4%B9%89)',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452#sitelinks-wikipedia',
 '//en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License',
 '//creativecommons.org/licenses/by-sa/3.0/',
 '//foundation.wikimedia.org/wiki/Terms_of_Use',
 '//foundation.wikimedia.org/wiki/Privacy_policy',
 '//www.wikimediafoundation.org/',
 'https://foundation.wikimedia.org/wiki/Privacy_policy',
 '/wiki/Wikipedia:About',
 '/wiki/Wikipedia:General_disclaimer',
 '//en.wikipedia.org/wiki/Wikipedia:Contact_us',
 'https://www.mediawiki.org/wiki/Special:MyLanguage/How_to_contribute',
 'https://foundation.wikimedia.org/wiki/Cookie_statement',
 '//en.m.wikipedia.org/w/index.php?title=Python&mobileaction=toggle_view_mobile',
 'https://wikimediafoundation.org/',
 'https://www.mediawiki.org/']

#### Number of Titles that have changed in the United States Code since its last release point

In [22]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [23]:
#your code
# Titles that have changed are in tag div with class="usctitlechanged"
uscode = requests.get(url).content
#uscode

In [24]:
usc = BeautifulSoup(uscode)
#usc

In [25]:
title = usc.find_all("div", class_='usctitlechanged')
#title

In [26]:
nb = 0
for t in title:
    nb = nb+1
nb

15

#### A Python list with the top ten FBI's Most Wanted names

In [27]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [28]:
#your code 
fbi=requests.get(url).content
#fbi

In [29]:
crime=BeautifulSoup(fbi)
crime

criminel = crime.find_all('ul',class_='full-grid wanted-grid-natural infinity castle-grid-block-xs-2 castle-grid-block-sm-2castle-grid-block-md-3 castle-grid-block-lg-5 dt-grid' )
criminel


for c in criminel :
    name = c.find_all('img')

for n in name :
    print(n['alt'])

ARNOLDO JIMENEZ
ALEJANDRO ROSALES CASTILLO
YASER ABDEL SAID
JASON DEREK BROWN
RAFAEL CARO-QUINTERO
ALEXIS FLORES
EUGENE PALMER
SANTIAGO VILLALBA MEDEROS
ROBERT WILLIAM FISHER
BHADRESHKUMAR CHETANBHAI PATEL

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [193]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [194]:
#your code
emsc = requests.get(url).content
earth_soup = BeautifulSoup(emsc,"lxml")
earth_table = earth_soup.find('tbody',{'id':'tbody'})
earth = earth_table.find_all('tr',class_='normal')
earth
test=[]
[test.append(x.find_all('td')) for x in earth]
test

[[<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781570">2019-07-23   20:03:45.7</a></b><i class="ago" id="ago0">18min ago</i></td>,
  <td class="tabev1">35.64 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">117.47 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">4</td>,
  <td class="tabev5" id="magtyp0">Ml</td>,
  <td class="tabev2">2.1</td>,
  <td class="tb_region" id="reg0"> SOUTHERN CALIFORNIA</td>,
  <td class="comment updatetimeno" id="upd0" style="text-align:right;">2019-07-23 20:05</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781569">2019-07-23   19:46:30.0</a></b><i class="ago" id="ago1">35min ago</i></td>,
  <td class="tabev1">18.32 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">100.01 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">59</td>,
  <td class="tabev5" id="magtyp1"> M</td>,
  <td class="tabev2">4.2</td>,
  <td class="tb_region" id="reg1"> GUERRERO, MEXICO</td>,
  <td class="comment updatetimeno" id="upd1" style="text-align:right;">2019-07-23 20:05</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781568">2019-07-23   19:37:44.0</a></b><i class="ago" id="ago2">44min ago</i></td>,
  <td class="tabev1">14.51 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">92.06 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">78</td>,
  <td class="tabev5" id="magtyp2"> M</td>,
  <td class="tabev2">4.0</td>,
  <td class="tb_region" id="reg2"> GUATEMALA</td>,
  <td class="comment updatetimeno" id="upd2" style="text-align:right;">2019-07-23 19:55</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781567">2019-07-23   19:23:46.0</a></b><i class="ago" id="ago3">58min ago</i></td>,
  <td class="tabev1">17.65 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">69.98 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">62</td>,
  <td class="tabev5" id="magtyp3"> M</td>,
  <td class="tabev2">3.1</td>,
  <td class="tb_region" id="reg3"> DOMINICAN REPUBLIC REGION</td>,
  <td class="comment updatetimeno" id="upd3" style="text-align:right;">2019-07-23 19:45</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781565">2019-07-23   19:19:03.2</a></b><i class="ago" id="ago4">1hr 03min ago</i></td>,
  <td class="tabev1">19.56 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">155.68 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">8</td>,
  <td class="tabev5" id="magtyp4">ML</td>,
  <td class="tabev2">2.5</td>,
  <td class="tb_region" id="reg4"> ISLAND OF HAWAII, HAWAII</td>,
  <td class="comment updatetimeno" id="upd4" style="text-align:right;">2019-07-23 20:07</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781566">2019-07-23   19:03:20.0</a></b><i class="ago" id="ago5">1hr 19min ago</i></td>,
  <td class="tabev1">19.27 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">97.43 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">32</td>,
  <td class="tabev5" id="magtyp5"> M</td>,
  <td class="tabev2">4.0</td>,
  <td class="tb_region" id="reg5"> PUEBLA, MEXICO</td>,
  <td class="comment updatetimeno" id="upd5" style="text-align:right;">2019-07-23 19:35</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781564">2019-07-23   18:39:59.0</a></b><i class="ago" id="ago6">1hr 42min ago</i></td>,
  <td class="tabev1">31.67 </td>,
  <td class="tabev2">S  </td>,
  <td class="tabev1">69.70 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">126</td>,
  <td class="tabev5" id="magtyp6"> M</td>,
  <td class="tabev2">4.2</td>,
  <td class="tb_region" id="reg6"> SAN JUAN, ARGENTINA</td>,
  <td class="comment updatetimeno" id="upd6" style="text-align:right;">2019-07-23 18:45</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781563">2019-07-23   18:27:41.3</a></b><i class="ago" id="ago7">1hr 54min ago</i></td>,
  <td class="tabev1">38.71 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">43.31 </td>,
  <td class="tabev2">E  </td>,
  <td class="tabev3">8</td>,
  <td class="tabev5" id="magtyp7">ML</td>,
  <td class="tabev2">3.0</td>,
  <td class="tb_region" id="reg7"> EASTERN TURKEY</td>,
  <td class="comment updatetimeno" id="upd7" style="text-align:right;">2019-07-23 18:55</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781561">2019-07-23   18:25:29.2</a></b><i class="ago" id="ago8">1hr 56min ago</i></td>,
  <td class="tabev1">35.68 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">117.53 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">8</td>,
  <td class="tabev5" id="magtyp8">Ml</td>,
  <td class="tabev2">2.1</td>,
  <td class="tb_region" id="reg8"> SOUTHERN CALIFORNIA</td>,
  <td class="comment updatetimeno" id="upd8" style="text-align:right;">2019-07-23 18:29</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781559">2019-07-23   17:47:55.5</a></b><i class="ago" id="ago9">2hr 34min ago</i></td>,
  <td class="tabev1">35.76 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">117.53 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">11</td>,
  <td class="tabev5" id="magtyp9">Ml</td>,
  <td class="tabev2">2.1</td>,
  <td class="tb_region" id="reg9"> SOUTHERN CALIFORNIA</td>,
  <td class="comment updatetimeno" id="upd9" style="text-align:right;">2019-07-23 17:51</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781557">2019-07-23   17:28:15.2</a></b><i class="ago" id="ago10">2hr 54min ago</i></td>,
  <td class="tabev1">0.41 </td>,
  <td class="tabev2">S  </td>,
  <td class="tabev1">98.59 </td>,
  <td class="tabev2">E  </td>,
  <td class="tabev3">41</td>,
  <td class="tabev5" id="magtyp10">mb</td>,
  <td class="tabev2">4.4</td>,
  <td class="tb_region" id="reg10"> KEPULAUAN BATU, INDONESIA</td>,
  <td class="comment updatetimeno" id="upd10" style="text-align:right;">2019-07-23 19:29</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781556">2019-07-23   17:27:18.7</a></b><i class="ago" id="ago11">2hr 55min ago</i></td>,
  <td class="tabev1">35.80 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">117.63 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">8</td>,
  <td class="tabev5" id="magtyp11">Ml</td>,
  <td class="tabev2">2.5</td>,
  <td class="tb_region" id="reg11"> CENTRAL CALIFORNIA</td>,
  <td class="comment updatetimeno" id="upd11" style="text-align:right;">2019-07-23 17:31</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781555">2019-07-23   17:23:32.0</a></b><i class="ago" id="ago12">2hr 58min ago</i></td>,
  <td class="tabev1">35.71 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">117.51 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">4</td>,
  <td class="tabev5" id="magtyp12">Ml</td>,
  <td class="tabev2">2.2</td>,
  <td class="tb_region" id="reg12"> SOUTHERN CALIFORNIA</td>,
  <td class="comment updatetimeno" id="upd12" style="text-align:right;">2019-07-23 17:27</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"><span class="intensity" onclick="go_details(event,null,'https://www.emsc-csem.org/Earthquake/popup_intensmap.php?id=781553&amp;f=/INTENSITY_MAPS/78/781553/AUTOMATIC/AreaThreshold_5/EMS_98__RMW_Musson/LocMethod_PerClusterCity/DynamicClusters_MaxSize50/IntensityMapThumbnails.png');" onmouseout="info_b2('notshow','');" onmouseover="info_b2('show','See the &lt;b&gt; Intensity map&lt;/b&gt;');" style="background-color:#FFFFFF;">F</span></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781553">2019-07-23   17:09:12.7</a></b><i class="ago" id="ago13">3hr 13min ago</i></td>,
  <td class="tabev1">42.93 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">23.26 </td>,
  <td class="tabev2">E  </td>,
  <td class="tabev3">5</td>,
  <td class="tabev5" id="magtyp13">ML</td>,
  <td class="tabev2">2.7</td>,
  <td class="tb_region" id="reg13"> BULGARIA</td>,
  <td class="comment updatetimeno" id="upd13" style="text-align:right;">2019-07-23 18:01</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781552">2019-07-23   17:03:54.0</a></b><i class="ago" id="ago14">3hr 18min ago</i></td>,
  <td class="tabev1">49.51 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">0.42 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">2</td>,
  <td class="tabev5" id="magtyp14">ML</td>,
  <td class="tabev2">3.2</td>,
  <td class="tb_region" id="reg14"> FRANCE</td>,
  <td class="comment updatetimeno" id="upd14" style="text-align:right;">2019-07-23 17:13</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781554">2019-07-23   17:01:46.0</a></b><i class="ago" id="ago15">3hr 20min ago</i></td>,
  <td class="tabev1">15.19 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">94.83 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">12</td>,
  <td class="tabev5" id="magtyp15"> M</td>,
  <td class="tabev2">4.0</td>,
  <td class="tb_region" id="reg15"> OFF COAST OF OAXACA, MEXICO</td>,
  <td class="comment updatetimeno" id="upd15" style="text-align:right;">2019-07-23 17:25</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781558">2019-07-23   17:01:33.1</a></b><i class="ago" id="ago16">3hr 20min ago</i></td>,
  <td class="tabev1">37.34 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">29.83 </td>,
  <td class="tabev2">E  </td>,
  <td class="tabev3">7</td>,
  <td class="tabev5" id="magtyp16">ML</td>,
  <td class="tabev2">2.0</td>,
  <td class="tb_region" id="reg16"> WESTERN TURKEY</td>,
  <td class="comment updatetimeno" id="upd16" style="text-align:right;">2019-07-23 17:41</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"><span class="intensity" onclick="go_details(event,null,'https://www.emsc-csem.org/Earthquake/popup_intensmap.php?id=781550&amp;f=/INTENSITY_MAPS/78/781550/AUTOMATIC/AreaThreshold_5/EMS_98__RMW_Musson/LocMethod_PerClusterCity/DynamicClusters_MaxSize50/IntensityMapThumbnails.png');" onmouseout="info_b2('notshow','');" onmouseover="info_b2('show','See the &lt;b&gt; Intensity map&lt;/b&gt;');" style="background-color:#FFFFFF;">F</span></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781550">2019-07-23   16:51:10.1</a></b><i class="ago" id="ago17">3hr 31min ago</i></td>,
  <td class="tabev1">36.96 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">121.59 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">4</td>,
  <td class="tabev5" id="magtyp17">Md</td>,
  <td class="tabev2">2.8</td>,
  <td class="tb_region" id="reg17"> NORTHERN CALIFORNIA</td>,
  <td class="comment updatetimeno" id="upd17" style="text-align:right;">2019-07-23 16:53</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781549">2019-07-23   16:45:58.1</a></b><i class="ago" id="ago18">3hr 36min ago</i></td>,
  <td class="tabev1">35.67 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">117.51 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">6</td>,
  <td class="tabev5" id="magtyp18">Ml</td>,
  <td class="tabev2">2.1</td>,
  <td class="tb_region" id="reg18"> SOUTHERN CALIFORNIA</td>,
  <td class="comment updatetimeno" id="upd18" style="text-align:right;">2019-07-23 16:49</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781551">2019-07-23   16:42:04.0</a></b><i class="ago" id="ago19">3hr 40min ago</i></td>,
  <td class="tabev1">21.27 </td>,
  <td class="tabev2">S  </td>,
  <td class="tabev1">68.64 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">126</td>,
  <td class="tabev5" id="magtyp19">ML</td>,
  <td class="tabev2">3.4</td>,
  <td class="tb_region" id="reg19"> ANTOFAGASTA, CHILE</td>,
  <td class="comment updatetimeno" id="upd19" style="text-align:right;">2019-07-23 18:18</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781547">2019-07-23   16:26:08.1</a></b><i class="ago" id="ago20">3hr 56min ago</i></td>,
  <td class="tabev1">35.94 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">117.70 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">3</td>,
  <td class="tabev5" id="magtyp20">Ml</td>,
  <td class="tabev2">2.1</td>,
  <td class="tb_region" id="reg20"> CENTRAL CALIFORNIA</td>,
  <td class="comment updatetimeno" id="upd20" style="text-align:right;">2019-07-23 16:29</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781571">2019-07-23   16:16:43.3</a></b><i class="ago" id="ago21">4hr 05min ago</i></td>,
  <td class="tabev1">37.81 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">113.18 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">9</td>,
  <td class="tabev5" id="magtyp21">Ml</td>,
  <td class="tabev2">2.2</td>,
  <td class="tb_region" id="reg21"> UTAH</td>,
  <td class="comment updatetimeno" id="upd21" style="text-align:right;">2019-07-23 20:11</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781546">2019-07-23   16:15:00.8</a></b><i class="ago" id="ago22">4hr 07min ago</i></td>,
  <td class="tabev1">35.91 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">117.71 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">2</td>,
  <td class="tabev5" id="magtyp22">Ml</td>,
  <td class="tabev2">2.4</td>,
  <td class="tb_region" id="reg22"> CENTRAL CALIFORNIA</td>,
  <td class="comment updatetimeno" id="upd22" style="text-align:right;">2019-07-23 16:18</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781543">2019-07-23   15:56:56.0</a></b><i class="ago" id="ago23">4hr 25min ago</i></td>,
  <td class="tabev1">20.66 </td>,
  <td class="tabev2">S  </td>,
  <td class="tabev1">68.07 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">179</td>,
  <td class="tabev5" id="magtyp23">ML</td>,
  <td class="tabev2">3.2</td>,
  <td class="tb_region" id="reg23"> POTOSI, BOLIVIA</td>,
  <td class="comment updatetimeno" id="upd23" style="text-align:right;">2019-07-23 16:23</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781545">2019-07-23   15:55:58.5</a></b><i class="ago" id="ago24">4hr 26min ago</i></td>,
  <td class="tabev1">37.34 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">29.84 </td>,
  <td class="tabev2">E  </td>,
  <td class="tabev3">7</td>,
  <td class="tabev5" id="magtyp24">ML</td>,
  <td class="tabev2">2.0</td>,
  <td class="tb_region" id="reg24"> WESTERN TURKEY</td>,
  <td class="comment updatetimeno" id="upd24" style="text-align:right;">2019-07-23 16:16</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781542">2019-07-23   15:55:40.8</a></b><i class="ago" id="ago25">4hr 26min ago</i></td>,
  <td class="tabev1">35.41 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">117.78 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">7</td>,
  <td class="tabev5" id="magtyp25">Ml</td>,
  <td class="tabev2">2.1</td>,
  <td class="tb_region" id="reg25"> SOUTHERN CALIFORNIA</td>,
  <td class="comment updatetimeno" id="upd25" style="text-align:right;">2019-07-23 15:59</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781539">2019-07-23   15:47:55.4</a></b><i class="ago" id="ago26">4hr 34min ago</i></td>,
  <td class="tabev1">36.04 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">117.87 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">2</td>,
  <td class="tabev5" id="magtyp26">Ml</td>,
  <td class="tabev2">2.1</td>,
  <td class="tb_region" id="reg26"> CENTRAL CALIFORNIA</td>,
  <td class="comment updatetimeno" id="upd26" style="text-align:right;">2019-07-23 15:51</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781538">2019-07-23   15:26:33.2</a></b><i class="ago" id="ago27">4hr 55min ago</i></td>,
  <td class="tabev1">35.91 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">117.72 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">5</td>,
  <td class="tabev5" id="magtyp27">Ml</td>,
  <td class="tabev2">2.2</td>,
  <td class="tb_region" id="reg27"> CENTRAL CALIFORNIA</td>,
  <td class="comment updatetimeno" id="upd27" style="text-align:right;">2019-07-23 15:30</td>],
 [<td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev0"></td>,
  <td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=781537">2019-07-23   15:20:55.0</a></b><i class="ago" id="ago28">5hr 01min ago</i></td>,
  <td class="tabev1">35.83 </td>,
  <td class="tabev2">N  </td>,
  <td class="tabev1">117.64 </td>,
  <td class="tabev2">W  </td>,
  <td class="tabev3">2</td>,
  <td class="tabev5" id="magtyp28">Ml</td>,
  <td class="tabev2">2.1</td>,

In [195]:
df= pd.DataFrame(test)
df.columns = ['0','picture','intensity', 'date','latitude','latitudebis','longitude', 'longitudebis','Depth_km','Mag', 'Magbis','Region name','Last_update']
df.head()

,0,picture,intensity,date,latitude,latitudebis,longitude,longitudebis,Depth_km,Mag,Magbis,Region name,Last_update
0,"<td class=""tabev0""></td>","<td class=""tabev0""></td>","<td class=""tabev0""></td>","<td class=""tabev6""><b><i style=""display:none;""...","<td class=""tabev1"">35.64 </td>","<td class=""tabev2"">N </td>","<td class=""tabev1"">117.47 </td>","<td class=""tabev2"">W </td>","<td class=""tabev3"">4</td>","<td class=""tabev5"" id=""magtyp0"">Ml</td>","<td class=""tabev2"">2.1</td>","<td class=""tb_region"" id=""reg0""> SOUTHERN CALI...","<td class=""comment updatetimeno"" id=""upd0"" sty..."
1,"<td class=""tabev0""></td>","<td class=""tabev0""></td>","<td class=""tabev0""></td>","<td class=""tabev6""><b><i style=""display:none;""...","<td class=""tabev1"">18.32 </td>","<td class=""tabev2"">N </td>","<td class=""tabev1"">100.01 </td>","<td class=""tabev2"">W </td>","<td class=""tabev3"">59</td>","<td class=""tabev5"" id=""magtyp1""> M</td>","<td class=""tabev2"">4.2</td>","<td class=""tb_region"" id=""reg1""> GUERRERO, MEX...","<td class=""comment updatetimeno"" id=""upd1"" sty..."
2,"<td class=""tabev0""></td>","<td class=""tabev0""></td>","<td class=""tabev0""></td>","<td class=""tabev6""><b><i style=""display:none;""...","<td class=""tabev1"">14.51 </td>","<td class=""tabev2"">N </td>","<td class=""tabev1"">92.06 </td>","<td class=""tabev2"">W </td>","<td class=""tabev3"">78</td>","<td class=""tabev5"" id=""magtyp2""> M</td>","<td class=""tabev2"">4.0</td>","<td class=""tb_region"" id=""reg2""> GUATEMALA</td>","<td class=""comment updatetimeno"" id=""upd2"" sty..."
3,"<td class=""tabev0""></td>","<td class=""tabev0""></td>","<td class=""tabev0""></td>","<td class=""tabev6""><b><i style=""display:none;""...","<td class=""tabev1"">17.65 </td>","<td class=""tabev2"">N </td>","<td class=""tabev1"">69.98 </td>","<td class=""tabev2"">W </td>","<td class=""tabev3"">62</td>","<td class=""tabev5"" id=""magtyp3""> M</td>","<td class=""tabev2"">3.1</td>","<td class=""tb_region"" id=""reg3""> DOMINICAN REP...","<td class=""comment updatetimeno"" id=""upd3"" sty..."
4,"<td class=""tabev0""></td>","<td class=""tabev0""></td>","<td class=""tabev0""></td>","<td class=""tabev6""><b><i style=""display:none;""...","<td class=""tabev1"">19.56 </td>","<td class=""tabev2"">N </td>","<td class=""tabev1"">155.68 </td>","<td class=""tabev2"">W </td>","<td class=""tabev3"">8</td>","<td class=""tabev5"" id=""magtyp4"">ML</td>","<td class=""tabev2"">2.5</td>","<td class=""tb_region"" id=""reg4""> ISLAND OF HAW...","<td class=""comment updatetimeno"" id=""upd4"" sty..."

In [196]:
dfi = ['0','picture','intensity','latitude','latitudebis','longitude', 'longitudebis','Depth_km','Mag', 'Magbis','Region name','Last_update']

for i in dfi:
    df[i] = df[i].map(lambda x: x.text.strip())
df.head()

,0,picture,intensity,date,latitude,latitudebis,longitude,longitudebis,Depth_km,Mag,Magbis,Region name,Last_update
0,,,,"<td class=""tabev6""><b><i style=""display:none;""...",35.64,N,117.47,W,4,Ml,2.1,SOUTHERN CALIFORNIA,2019-07-23 20:05
1,,,,"<td class=""tabev6""><b><i style=""display:none;""...",18.32,N,100.01,W,59,M,4.2,"GUERRERO, MEXICO",2019-07-23 20:05
2,,,,"<td class=""tabev6""><b><i style=""display:none;""...",14.51,N,92.06,W,78,M,4.0,GUATEMALA,2019-07-23 19:55
3,,,,"<td class=""tabev6""><b><i style=""display:none;""...",17.65,N,69.98,W,62,M,3.1,DOMINICAN REPUBLIC REGION,2019-07-23 19:45
4,,,,"<td class=""tabev6""><b><i style=""display:none;""...",19.56,N,155.68,W,8,ML,2.5,"ISLAND OF HAWAII, HAWAII",2019-07-23 20:07

In [197]:
df['new']=[x.find_all('i', class_='ago') for x in df['date']]

df['ago']=[j.text.strip() for i in df['new'] for j in i]

df.head()

,0,picture,intensity,date,latitude,latitudebis,longitude,longitudebis,Depth_km,Mag,Magbis,Region name,Last_update,new,ago
0,,,,"<td class=""tabev6""><b><i style=""display:none;""...",35.64,N,117.47,W,4,Ml,2.1,SOUTHERN CALIFORNIA,2019-07-23 20:05,"[<i class=""ago"" id=""ago0"">18min ago</i>]",18min ago
1,,,,"<td class=""tabev6""><b><i style=""display:none;""...",18.32,N,100.01,W,59,M,4.2,"GUERRERO, MEXICO",2019-07-23 20:05,"[<i class=""ago"" id=""ago1"">35min ago</i>]",35min ago
2,,,,"<td class=""tabev6""><b><i style=""display:none;""...",14.51,N,92.06,W,78,M,4.0,GUATEMALA,2019-07-23 19:55,"[<i class=""ago"" id=""ago2"">44min ago</i>]",44min ago
3,,,,"<td class=""tabev6""><b><i style=""display:none;""...",17.65,N,69.98,W,62,M,3.1,DOMINICAN REPUBLIC REGION,2019-07-23 19:45,"[<i class=""ago"" id=""ago3"">58min ago</i>]",58min ago
4,,,,"<td class=""tabev6""><b><i style=""display:none;""...",19.56,N,155.68,W,8,ML,2.5,"ISLAND OF HAWAII, HAWAII",2019-07-23 20:07,"[<i class=""ago"" id=""ago4"">1hr 03min ago</i>]",1hr 03min ago

In [198]:
df['date']=[x.find_all('a') for x in df['date']]
df['date']=[j.text.strip() for i in df['date'] for j in i]
df['date'].head(2)

0    2019-07-23   20:03:45.7
1    2019-07-23   19:46:30.0
Name: date, dtype: object

In [199]:
df = df.drop(columns=['new'], axis=1)
df.rename(columns={'date' :'Date_&_Time_UTC'})

,0,picture,intensity,Date_&_Time_UTC,latitude,latitudebis,longitude,longitudebis,Depth_km,Mag,Magbis,Region name,Last_update,ago
0,,,,2019-07-23 20:03:45.7,35.64,N,117.47,W,4,Ml,2.1,SOUTHERN CALIFORNIA,2019-07-23 20:05,18min ago
1,,,,2019-07-23 19:46:30.0,18.32,N,100.01,W,59,M,4.2,"GUERRERO, MEXICO",2019-07-23 20:05,35min ago
2,,,,2019-07-23 19:37:44.0,14.51,N,92.06,W,78,M,4.0,GUATEMALA,2019-07-23 19:55,44min ago
3,,,,2019-07-23 19:23:46.0,17.65,N,69.98,W,62,M,3.1,DOMINICAN REPUBLIC REGION,2019-07-23 19:45,58min ago
4,,,,2019-07-23 19:19:03.2,19.56,N,155.68,W,8,ML,2.5,"ISLAND OF HAWAII, HAWAII",2019-07-23 20:07,1hr 03min ago
5,,,,2019-07-23 19:03:20.0,19.27,N,97.43,W,32,M,4.0,"PUEBLA, MEXICO",2019-07-23 19:35,1hr 19min ago
6,,,,2019-07-23 18:39:59.0,31.67,S,69.70,W,126,M,4.2,"SAN JUAN, ARGENTINA",2019-07-23 18:45,1hr 42min ago
7,,,,2019-07-23 18:27:41.3,38.71,N,43.31,E,8,ML,3.0,EASTERN TURKEY,2019-07-23 18:55,1hr 54min ago
8,,,,2019-07-23 18:25:29.2,35.68,N,117.53,W,8,Ml,2.1,SOUTHERN CALIFORNIA,2019-07-23 18:29,1hr 56min ago
9,,,,2019-07-23 17:47:55.5,35.76,N,117.53,W,11,Ml,2.1,SOUTHERN CALIFORNIA,2019-07-23 17:51,2hr 34min ago
10,,,,2019-07-23 17:28:15.2,0.41,S,98.59,E,41,mb,4.4,"KEPULAUAN BATU, INDONESIA",2019-07-23 19:29,2hr 54min ago
11,,,,2019-07-23 17:27:18.7,35.80,N,117.63,W,8,Ml,2.5,CENTRAL CALIFORNIA,2019-07-23 17:31,2hr 55min ago
12,,,,2019-07-23 17:23:32.0,35.71,N,117.51,W,4,Ml,2.2,SOUTHERN CALIFORNIA,2019-07-23 17:27,2hr 58min ago
13,,,F,2019-07-23 17:09:12.7,42.93,N,23.26,E,5,ML,2.7,BULGARIA,2019-07-23 18:01,3hr 13min ago
14,,,,2019-07-23 17:03:54.0,49.51,N,0.42,W,2,ML,3.2,FRANCE,2019-07-23 17:13,3hr 18min ago
15,,,,2019-07-23 17:01:46.0,15.19,N,94.83,W,12,M,4.0,"OFF COAST OF OAXACA, MEXICO",2019-07-23 17:25,3hr 20min ago
16,,,,2019-07-23 17:01:33.1,37.34,N,29.83,E,7,ML,2.0,WESTERN TURKEY,2019-07-23 17:41,3hr 20min ago
17,,,F,2019-07-23 16:51:10.1,36.96,N,121.59,W,4,Md,2.8,NORTHERN CALIFORNIA,2019-07-23 16:53,3hr 31min ago
18,,,,2019-07-23 16:45:58.1,35.67,N,117.51,W,6,Ml,2.1,SOUTHERN CALIFORNIA,2019-07-23 16:49,3hr 36min ago
19,,,,2019-07-23 16:42:04.0,21.27,S,68.64,W,126,ML,3.4,"ANTOFAGASTA, CHILE",2019-07-23 18:18,3hr 40min ago
20,,,,2019-07-23 16:26:08.1,35.94,N,117.70,W,3,Ml,2.1,CENTRAL CALIFORNIA,2019-07-23 16:29,3hr 56min ago
21,,,,2019-07-23 16:16:43.3,37.81,N,113.18,W,9,Ml,2.2,UTAH,2019-07-23 20:11,4hr 05min ago
22,,,,2019-07-23 16:15:00.8,35.91,N,117.71,W,2,Ml,2.4,CENTRAL CALIFORNIA,2019-07-23 16:18,4hr 07min ago
23,,,,2019-07-23 15:56:56.0,20.66,S,68.07,W,179,ML,3.2,"POTOSI, BOLIVIA",2019-07-23 16:23,4hr 25min ago
24,,,,2019-07-23 15:55:58.5,37.34,N,29.84,E,7,ML,2.0,WESTERN TURKEY,2019-07-23 16:16,4hr 26min ago
25,,,,2019-07-23 15:55:40.8,35.41,N,117.78,W,7,Ml,2.1,SOUTHERN CALIFORNIA,2019-07-23 15:59,4hr 26min ago
26,,,,2019-07-23 15:47:55.4,36.04,N,117.87,W,2,Ml,2.1,CENTRAL CALIFORNIA,2019-07-23 15:51,4hr 34min ago
27,,,,2019-07-23 15:26:33.2,35.91,N,117.72,W,5,Ml,2.2,CENTRAL CALIFORNIA,2019-07-23 15:30,4hr 55min ago
28,,,,2019-07-23 15:20:55.0,35.83,N,117.64,W,2,Ml,2.1,CENTRAL CALIFORNIA,2019-07-23 15:24,5hr 01min ago
29,,,,2019-07-23 15:18:46.3,36.11,N,117.84,W,2,Ml,2.2,CENTRAL CALIFORNIA,2019-07-23 15:22,5hr 03min ago
30,,,,2019-07-23 15:04:08.5,36.16,N,117.88,W,2,Ml,2.5,CENTRAL CALIFORNIA,2019-07-23 15:06,5hr 18min ago
31,,,,2019-07-23 15:01:25.0,24.49,S,69.37,W,88,ML,3.5,"ANTOFAGASTA, CHILE",2019-07-23 15:48,5hr 21min ago
32,,,,2019-07-23 14:57:14.4,38.38,N,116.69,W,4,ml,2.0,NEVADA,2019-07-23 17:56,5hr 25min ago
33,,,,2019-07-23 14:56:42.0,38.28,N,40.98,E,7,ML,2.0,EASTERN TURKEY,2019-07-23 15:18,5hr 25min ago
34,,,,2019-07-23 14:34:30.9,35.88,N,117.72,W,2,Ml,2.1,CENTRAL CALIFORNIA,2019-07-23 14:38,5hr 47min ago
35,,,,2019-07-23 14:26:33.6,35.74,N,117.54,W,2,Ml,2.0,SOUTHERN CALIFORNIA,2019-07-23 14:30,5hr 55min ago
36,,,,2019-07-23 14:25:23.0,19.10,N,155.44,W,2,Ml,2.5,"ISLAND OF HAWAII, HAWAII",2019-07-23 14:31,5hr 57min ago
37,,,,2019-07-23 13:59:10.0,2.28,S,122.32,E,10,M,3.8,"SULAWESI, INDONESIA",2019-07-23 14:10,6hr 23min ago
38,,,,2019-07-23 13:20:03.5,35.83,N,117.65,W,8,Ml,2.4,CENTRAL CALIFORNIA,2019-07-23 13:23,7hr 02min ago
39,,,,2019-07-23 13:10:55.2,20.37,N,123.12,E,10,mb,4.9,PHILIPPINE ISLANDS REGION,2019-07-23 14:28,7hr 11min ago
40,,,,2019-07-23 13:08:21.9,41.11,N,43.93,E,5,ML,2.8,ARMENIA,2019-07-23 18:46,7hr 14min ago
41,,,,2019-07-23 13:01:00.2,35.67,N,117.50,W,0,Ml,2.7,SOUTHERN CALIFORNIA,2019-07-23 13:05,7hr 21min ago
42,,,,2019-07-23 13:00:29.0,0.77,S,127.41,E,15,M,3.9,"HALMAHERA, INDONESIA",2019-07-23 13:15,7hr 21min ago
43,,,,2019-07-23 12:55:19.8,47.80,N,8.04,E,2,ML,1.5,GERMANY,2019-07-23 13:02,7hr 27min ago
44,,,,2019-07-23 12:51:20.6,37.32,N,29.84,E,7,ML,2.3,WESTERN TURKEY,2019-07-23 13:15,7hr 31min ago
45,,,,2019-07-23 12:31:28.2,40.51,N,25.75,E,8,ML,2.5,AEGEAN SEA,2019-07-23 14:27,7hr 50min ago
46,,,,2019-07-23 12:30:06.3,38.36,N,115.81,W,5,ml,2.4,NEVADA,2019-07-23 17:31,7hr 52min ago
47,,,,2019-07-23 12:11:41.2,35.92,N,117.70,W,2,Ml,2.0,CENTRAL CALIFORNIA,2019-07-23 12:13,8hr 10min ago
48,,,,2019-07-23 12:10:54.0,37.33,N,29.83,E,23,ML,2.1,WESTERN TURKEY,2019-07-23 12:54,8hr 11min ago
49,,,,2019-07-23 12:08:22.3,35.70,N,117.53,W,8,Ml,2.6,SOUTHERN CALIFORNIA,2019-07-23 12:11,8hr 14min ago

In [200]:
df['latitude'] = df["latitude"].map(str)+ " " + df["latitudebis"]
df = df.drop(columns =['latitudebis'], axis=1)

df['longitude'] = df["longitude"].map(str)+ " " + df["longitudebis"]
df = df.drop(columns =['longitudebis'], axis=1)

df.head(20)

,0,picture,intensity,date,latitude,longitude,Depth_km,Mag,Magbis,Region name,Last_update,ago
0,,,,2019-07-23 20:03:45.7,35.64 N,117.47 W,4,Ml,2.1,SOUTHERN CALIFORNIA,2019-07-23 20:05,18min ago
1,,,,2019-07-23 19:46:30.0,18.32 N,100.01 W,59,M,4.2,"GUERRERO, MEXICO",2019-07-23 20:05,35min ago
2,,,,2019-07-23 19:37:44.0,14.51 N,92.06 W,78,M,4.0,GUATEMALA,2019-07-23 19:55,44min ago
3,,,,2019-07-23 19:23:46.0,17.65 N,69.98 W,62,M,3.1,DOMINICAN REPUBLIC REGION,2019-07-23 19:45,58min ago
4,,,,2019-07-23 19:19:03.2,19.56 N,155.68 W,8,ML,2.5,"ISLAND OF HAWAII, HAWAII",2019-07-23 20:07,1hr 03min ago
5,,,,2019-07-23 19:03:20.0,19.27 N,97.43 W,32,M,4.0,"PUEBLA, MEXICO",2019-07-23 19:35,1hr 19min ago
6,,,,2019-07-23 18:39:59.0,31.67 S,69.70 W,126,M,4.2,"SAN JUAN, ARGENTINA",2019-07-23 18:45,1hr 42min ago
7,,,,2019-07-23 18:27:41.3,38.71 N,43.31 E,8,ML,3.0,EASTERN TURKEY,2019-07-23 18:55,1hr 54min ago
8,,,,2019-07-23 18:25:29.2,35.68 N,117.53 W,8,Ml,2.1,SOUTHERN CALIFORNIA,2019-07-23 18:29,1hr 56min ago
9,,,,2019-07-23 17:47:55.5,35.76 N,117.53 W,11,Ml,2.1,SOUTHERN CALIFORNIA,2019-07-23 17:51,2hr 34min ago
10,,,,2019-07-23 17:28:15.2,0.41 S,98.59 E,41,mb,4.4,"KEPULAUAN BATU, INDONESIA",2019-07-23 19:29,2hr 54min ago
11,,,,2019-07-23 17:27:18.7,35.80 N,117.63 W,8,Ml,2.5,CENTRAL CALIFORNIA,2019-07-23 17:31,2hr 55min ago
12,,,,2019-07-23 17:23:32.0,35.71 N,117.51 W,4,Ml,2.2,SOUTHERN CALIFORNIA,2019-07-23 17:27,2hr 58min ago
13,,,F,2019-07-23 17:09:12.7,42.93 N,23.26 E,5,ML,2.7,BULGARIA,2019-07-23 18:01,3hr 13min ago
14,,,,2019-07-23 17:03:54.0,49.51 N,0.42 W,2,ML,3.2,FRANCE,2019-07-23 17:13,3hr 18min ago
15,,,,2019-07-23 17:01:46.0,15.19 N,94.83 W,12,M,4.0,"OFF COAST OF OAXACA, MEXICO",2019-07-23 17:25,3hr 20min ago
16,,,,2019-07-23 17:01:33.1,37.34 N,29.83 E,7,ML,2.0,WESTERN TURKEY,2019-07-23 17:41,3hr 20min ago
17,,,F,2019-07-23 16:51:10.1,36.96 N,121.59 W,4,Md,2.8,NORTHERN CALIFORNIA,2019-07-23 16:53,3hr 31min ago
18,,,,2019-07-23 16:45:58.1,35.67 N,117.51 W,6,Ml,2.1,SOUTHERN CALIFORNIA,2019-07-23 16:49,3hr 36min ago
19,,,,2019-07-23 16:42:04.0,21.27 S,68.64 W,126,ML,3.4,"ANTOFAGASTA, CHILE",2019-07-23 18:18,3hr 40min ago

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [320]:
# This is the url you will scrape in this exercise
import os
url ='https://hackevents.co/hackathons'

In [345]:
#your code
with open("hackevents.html", "r", encoding='utf-8') as f:
    text= f.read()
    
document= BeautifulSoup(text)
#doc = document.find_all('a')

In [373]:
test = []
for x in document:
    test.append(x.find_all('a'))

In [389]:
df = pd.DataFrame(test)

In [390]:
dfi = [6,7,8,9]

for i in dfi:
    df[i] = df[i].map(lambda x: x.text.strip())


df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,"<a aria-label=""learn more about cookies"" class...","<a aria-label=""deny cookies"" class=""cc-btn cc-...","<a aria-label=""allow cookies"" class=""cc-btn cc...","<a class=""navbar-brand"" href=""/""><img alt=""Hac...","<a class=""nav-item nav-link active"" href=""/sea...","<a class=""nav-item nav-link active"" href=""/sub...","Code Geist Hackathon by SefrWahed Cairo, Egyp...","The Code Factor Milano, Italy Starts 5/21/201...","TECHFEST MUNICH Munich, Germany Starts 9/6/20...","Galileo App Competition Prague, Czech Republi...","<a href=""/legal/imprint"">Imprint</a>","<a href=""/submit"">Submit event</a>","<a href=""/search/anything/Germany/anytime"">Hac...","<a href=""/search/anything/Berlin/anytime"">Hack...","<a href=""/search/anything/France/anytime"">Hack...","<a href=""/search/anything/London/anytime"">Hack...","<a href=""/search/anything/San Francisco/anytim...","<a href=""/search/anything/New York/anytime"">Ha...","<a href=""/search/anything/Canada/anytime"">Hack...","<a href=""/search/anything/United States/anytim..."

In [391]:
df = df.drop(columns =[0,1,2,3,4,5,10,11,12,13,14,15,16,17,18,19], axis=1)
df

,6,7,8,9
0,"Code Geist Hackathon by SefrWahed Cairo, Egyp...","The Code Factor Milano, Italy Starts 5/21/201...","TECHFEST MUNICH Munich, Germany Starts 9/6/20...","Galileo App Competition Prague, Czech Republi..."

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [209]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url

# A FINR
url = 'https://twitter.com/twitter'

In [210]:
#your code
def get_nb_tweets(url):
    try:
        twitter = requests.get(url).text
    except Exception :
        print('count not found')
        return

    hack = BeautifulSoup(twitter)
    nb_tweet=hack.find_all('a', {'data-nav':'tweets'})
    for x in nb_tweet:
        print(x.text)
get_nb_tweets(url)

Tweets
Tweets, page actuelle.
10,9 k

In [211]:
#your code
twitter=requests.get(url).text
twitter
hack = BeautifulSoup(twitter)
event = hack.find_all('a',class_='twitter-timeline-link u-hidden')
nb_tweets=len(event)
nb_tweets

9

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [207]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/eleonore_h/'

In [208]:
#your code
def get_nb_followers(url):
    try:
        twitter = requests.get(url).text
    except Exception :
        print('count not found')
        return

    hack = BeautifulSoup(twitter)
    nb_tweet=hack.find_all('a', {'data-nav':'followers'})
    for x in nb_tweet:
        print(x.text)
get_nb_followers(url)

Abonnés
Abonnés
981

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [205]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [206]:
#your code
wiki = requests.get(url).text
wiki = BeautifulSoup(wiki,'lxml')
language = wiki.find_all('a', class_='link-box')
for lang in language :
    print(lang.text)

English
5 892 000+ articles


æ¥æ¬èª
1 159 000+ è¨äº


EspaÃ±ol
1 532 000+ artÃ­culos


Deutsch
2 323 000+ Artikel


Ð ÑÑÑÐºÐ¸Ð¹
1 556 000+ ÑÑÐ°ÑÐµÐ¹


FranÃ§ais
2 123 000+ articles


Italiano
1 541 000+ voci


ä¸­æ
1 065 000+ æ¢ç®


PortuguÃªs
1 010 000+ artigos


Polski
1 346 000+ haseÅ

#### A list with the different kind of datasets available in data.gov.uk

In [203]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [204]:
#your code 
gouv = requests.get(url).content
gouv=BeautifulSoup(gouv)
table = gouv.find_all('h2')
table

for t in table :
    name = t.find('a').text
    print(name)

Business and economy
Crime and justice
Defence
Education
Environment
Government
Government spending
Health
Mapping
Society
Towns and cities
Transport

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [392]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [393]:
#your code
wiki = requests.get(url).content
wiki=BeautifulSoup(wiki)
table = wiki.find('tbody')
rows = table.find_all('tr')
rows = [row.text.strip().split("\n") for row in rows]
colnames = ['0','1', '2','3','4','5', '6','7','8', '9','10' , '11','12','13','14','15','16','17','18']


#colnames = ['date', '2','3','time','5', '6','latitude','8', '9','longitude' , 'region_name']
df = pd.DataFrame(rows, columns=colnames)
df = df.drop(columns=['1','3','5','7','9','11','15'], axis=1)
df.columns = ['Rank','Rank','Language','Primary Country','TotalCountries[a]','Speakers(millions)','% of the World population','(March 2019)[7]','14','Macrolanguage','17','Language familyBranch']
df = df.drop(0)
df.head(11)

,Rank,Rank,Language,Primary Country,TotalCountries[a],Speakers(millions),% of the World population,(March 2019)[7],14,Macrolanguage,17,Language familyBranch
1,—,1,Chinese (macrolanguage),China,39,"1,311",17.026,,,Sino-TibetanSinitic,None,None
2,1,—,Mandarin,China,13,918,11.922,,Chinese,Sino-TibetanSinitic,None,None
3,2,2,Spanish,Spain,31,460,5.974,,,Indo-EuropeanRomance,None,None
4,3,3,English,United Kingdom,137,379,4.922,,,Indo-EuropeanGermanic,None,None
5,4,4,Hindi,India,4,341,4.429,,,Indo-EuropeanIndo-Aryan,None,None
6,—,5,Arabic (macrolanguage),Saudi Arabia,59,319,4.143,,,AfroasiaticSemitic,None,None
7,5,6,Bengali,Bangladesh,4,228,2.961,,,Indo-EuropeanIndo-Aryan,None,None
8,6,7,Portuguese,Portugal,15,221,2.870,,,Indo-EuropeanRomance,None,None
9,7,8,Russian,Russian Federation,19,154,2.000,,,Indo-EuropeanBalto-Slavic,None,None
10,8,9,Japanese,Japan,2,128,1.662,,,JaponicJapanese,None,None
11,—,10,Lahnda (macrolanguage),Pakistan,6,119,1.545,,,Indo-EuropeanIndo-Aryan,None,None

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [408]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [541]:
# your code
imdb = requests.get(url).content
imdb = BeautifulSoup(imdb)
chart=imdb.find_all('td', class_='titleColumn')
chart

[<td class="titleColumn">
       1.
       <a href="/title/tt0111161/" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">Les évadés</a>
 <span class="secondaryInfo">(1994)</span>
 </td>, <td class="titleColumn">
       2.
       <a href="/title/tt0068646/" title="Francis Ford Coppola (dir.), Marlon Brando, Al Pacino">Le parrain</a>
 <span class="secondaryInfo">(1972)</span>
 </td>, <td class="titleColumn">
       3.
       <a href="/title/tt0071562/" title="Francis Ford Coppola (dir.), Al Pacino, Robert De Niro">Le parrain, 2ème partie</a>
 <span class="secondaryInfo">(1974)</span>
 </td>, <td class="titleColumn">
       4.
       <a href="/title/tt0468569/" title="Christopher Nolan (dir.), Christian Bale, Heath Ledger">The Dark Knight: Le chevalier noir</a>
 <span class="secondaryInfo">(2008)</span>
 </td>, <td class="titleColumn">
       5.
       <a href="/title/tt0050083/" title="Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb">Douze hommes en colère</a>
 <span class="secondaryInfo">(1957)</span>
 </td>, <td class="titleColumn">
       6.
       <a href="/title/tt0108052/" title="Steven Spielberg (dir.), Liam Neeson, Ralph Fiennes">La liste de Schindler</a>
 <span class="secondaryInfo">(1993)</span>
 </td>, <td class="titleColumn">
       7.
       <a href="/title/tt0167260/" title="Peter Jackson (dir.), Elijah Wood, Viggo Mortensen">Le seigneur des anneaux: Le retour du roi</a>
 <span class="secondaryInfo">(2003)</span>
 </td>, <td class="titleColumn">
       8.
       <a href="/title/tt0110912/" title="Quentin Tarantino (dir.), John Travolta, Uma Thurman">Pulp Fiction</a>
 <span class="secondaryInfo">(1994)</span>
 </td>, <td class="titleColumn">
       9.
       <a href="/title/tt0060196/" title="Sergio Leone (dir.), Clint Eastwood, Eli Wallach">Le bon, la brute et le truand</a>
 <span class="secondaryInfo">(1966)</span>
 </td>, <td class="titleColumn">
       10.
       <a href="/title/tt0137523/" title="David Fincher (dir.), Brad Pitt, Edward Norton">Fight Club</a>
 <span class="secondaryInfo">(1999)</span>
 </td>, <td class="titleColumn">
       11.
       <a href="/title/tt0120737/" title="Peter Jackson (dir.), Elijah Wood, Ian McKellen">Le seigneur des anneaux: La communauté de l'anneau</a>
 <span class="secondaryInfo">(2001)</span>
 </td>, <td class="titleColumn">
       12.
       <a href="/title/tt0109830/" title="Robert Zemeckis (dir.), Tom Hanks, Robin Wright">Forrest Gump</a>
 <span class="secondaryInfo">(1994)</span>
 </td>, <td class="titleColumn">
       13.
       <a href="/title/tt1375666/" title="Christopher Nolan (dir.), Leonardo DiCaprio, Joseph Gordon-Levitt">Inception</a>
 <span class="secondaryInfo">(2010)</span>
 </td>, <td class="titleColumn">
       14.
       <a href="/title/tt0080684/" title="Irvin Kershner (dir.), Mark Hamill, Harrison Ford">L'empire contre-attaque</a>
 <span class="secondaryInfo">(1980)</span>
 </td>, <td class="titleColumn">
       15.
       <a href="/title/tt0167261/" title="Peter Jackson (dir.), Elijah Wood, Ian McKellen">Le seigneur des anneaux: Les deux tours</a>
 <span class="secondaryInfo">(2002)</span>
 </td>, <td class="titleColumn">
       16.
       <a href="/title/tt0073486/" title="Milos Forman (dir.), Jack Nicholson, Louise Fletcher">Vol au-dessus d'un nid de coucou</a>
 <span class="secondaryInfo">(1975)</span>
 </td>, <td class="titleColumn">
       17.
       <a href="/title/tt0099685/" title="Martin Scorsese (dir.), Robert De Niro, Ray Liotta">Les affranchis</a>
 <span class="secondaryInfo">(1990)</span>
 </td>, <td class="titleColumn">
       18.
       <a href="/title/tt0133093/" title="Lana Wachowski (dir.), Keanu Reeves, Laurence Fishburne">Matrix</a>
 <span class="secondaryInfo">(1999)</span>
 </td>, <td class="titleColumn">
       19.
       <a href="/title/tt0047478/" title="Akira Kurosawa (dir.), Toshirô Mifune, Takashi Shimura">Les sept samouraïs</a>
 <span class="secondaryInfo">(1954)</span>
 </td>, <td class="titleColumn">
       20.
       <a href="/title/tt4154796/" title="Anthony Russo (dir.), Robert Downey Jr., Chris Evans">Avengers: Endgame</a>
 <span class="secondaryInfo">(2019)</span>
 </td>, <td class="titleColumn">
       21.
       <a href="/title/tt0114369/" title="David Fincher (dir.), Morgan Freeman, Brad Pitt">Seven</a>
 <span class="secondaryInfo">(1995)</span>
 </td>, <td class="titleColumn">
       22.
       <a href="/title/tt0317248/" title="Fernando Meirelles (dir.), Alexandre Rodrigues, Leandro Firmino">La Cité de Dieu</a>
 <span class="secondaryInfo">(2002)</span>
 </td>, <td class="titleColumn">
       23.
       <a href="/title/tt0076759/" title="George Lucas (dir.), Mark Hamill, Harrison Ford">La guerre des étoiles</a>
 <span class="secondaryInfo">(1977)</span>
 </td>, <td class="titleColumn">
       24.
       <a href="/title/tt0102926/" title="Jonathan Demme (dir.), Jodie Foster, Anthony Hopkins">Le silence des agneaux</a>
 <span class="secondaryInfo">(1991)</span>
 </td>, <td class="titleColumn">
       25.
       <a href="/title/tt0038650/" title="Frank Capra (dir.), James Stewart, Donna Reed">La vie est belle</a>
 <span class="secondaryInfo">(1946)</span>
 </td>, <td class="titleColumn">
       26.
       <a href="/title/tt0118799/" title="Roberto Benigni (dir.), Roberto Benigni, Nicoletta Braschi">La vie est belle</a>
 <span class="secondaryInfo">(1997)</span>
 </td>, <td class="titleColumn">
       27.
       <a href="/title/tt0245429/" title="Hayao Miyazaki (dir.), Daveigh Chase, Suzanne Pleshette">Le voyage de Chihiro</a>
 <span class="secondaryInfo">(2001)</span>
 </td>, <td class="titleColumn">
       28.
       <a href="/title/tt0120815/" title="Steven Spielberg (dir.), Tom Hanks, Matt Damon">Il faut sauver le soldat Ryan</a>
 <span class="secondaryInfo">(1998)</span>
 </td>, <td class="titleColumn">
       29.
       <a href="/title/tt0114814/" title="Bryan Singer (dir.), Kevin Spacey, Gabriel Byrne">Usual Suspects</a>
 <span class="secondaryInfo">(1995)</span>
 </td>, <td class="titleColumn">
       30.
       <a href="/title/tt0110413/" title="Luc Besson (dir.), Jean Reno, Gary Oldman">Léon</a>
 <span class="secondaryInfo">(1994)</span>
 </td>, <td class="titleColumn">
       31.
       <a href="/title/tt0120689/" title="Frank Darabont (dir.), Tom Hanks, Michael Clarke Duncan">La ligne verte</a>
 <span class="secondaryInfo">(1999)</span>
 </td>, <td class="titleColumn">
       32.
       <a href="/title/tt0816692/" title="Christopher Nolan (dir.), Matthew McConaughey, Anne Hathaway">Interstellar</a>
 <span class="secondaryInfo">(2014)</span>
 </td>, <td class="titleColumn">
       33.
       <a href="/title/tt0054215/" title="Alfred Hitchcock (dir.), Anthony Perkins, Janet Leigh">Psychose</a>
 <span class="secondaryInfo">(1960)</span>
 </td>, <td class="titleColumn">
       34.
       <a href="/title/tt0120586/" title="Tony Kaye (dir.), Edward Norton, Edward Furlong">American History X</a>
 <span class="secondaryInfo">(1998)</span>
 </td>, <td class="titleColumn">
       35.
       <a href="/title/tt0021749/" title="Charles Chaplin (dir.), Charles Chaplin, Virginia Cherrill">Les lumières de la ville</a>
 <span class="secondaryInfo">(1931)</span>
 </td>, <td class="titleColumn">
       36.
       <a href="/title/tt0034583/" title="Michael Curtiz (dir.), Humphrey Bogart, Ingrid Bergman">Casablanca</a>
 <span class="secondaryInfo">(1942)</span>
 </td>, <td class="titleColumn">
       37.
       <a href="/title/tt0064116/" title="Sergio Leone (dir.), Henry Fonda, Charles Bronson">Il était une fois dans l'Ouest</a>
 <span class="secondaryInfo">(1968)</span>
 </td>, <td class="titleColumn">
       38.
       <a href="/title/tt0253474/" title="Roman Polanski (dir.), Adrien Brody, Thomas Kretschmann">Le pianiste</a>
 <span class="secondaryInfo">(2002)</span>
 </td>, <td class="titleColumn">
       39.
       <a href="/title/tt0027977/" title="Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard">Les temps modernes</a>
 <span class="secondaryInfo">(1936)</span>
 </td>, <td class="titleColumn">
       40.
       <a href="/title/tt1675434/" title="Olivier Nakache (dir.), François Cluzet, Omar Sy">Intouchables</a>
 <span class="secondaryInfo">(2011)</span>
 </td>, <td class="titleColumn">
       41.
       <a href="/title/tt0407887/" title="Martin Scorsese (dir.), Leonardo DiCaprio, Matt Damon">Les infiltrés</a>
 <span class="secondaryInfo">(2006)</span>
 </td>, <td class="titleColumn">
       42.
       <a href="/title/tt0088763/" title="Robert Zemeckis (dir.), Michael J. Fox, Christopher Lloyd">Retour vers le futur</a>
 <span class="secondaryInfo">(1985)</span>
 </td>, <td class="titleColumn">
       43.
       <a href="/title/tt0103064/" title="James Cameron (dir.), Arnold Schwarzenegger, Linda Hamilton">Terminator 2 - Le jugement dernier</a>
 <span class="secondaryInfo">(1991)</span>
 </td>, <td class="titleColumn">
       44.
       <a href="/title/tt0110357/" title="Roger Allers (dir.), Matthew Broderick, Jeremy Irons">The Lion King</a>
 <span class="secondaryInfo">(1994)</span>
 </td>, <td class="titleColumn">
       45.
       <a href="/title/tt2582802/" title="Damien Chazelle (dir.), Miles Teller, J.K. Simmons">Whiplash</a>
 <span class="secondaryInfo">(2014)</span>
 </td>, <td class="titleColumn">
       46.
       <a href="/title/tt0047396/" title="Alfred Hitchcock (dir.), James Stewart, Grace Kelly">Fenêtre sur cour</a>
 <span class="secondaryInfo">(1954)</span>
 </td>, <td class="titleColumn">
       47.
       <a href="/title/tt0172495/" title="Ridley Scott (dir.), Russell Crowe, Joaquin Phoenix">Gladiator</a>
 <span class="secondaryInfo">(2000)</span>
 </td>, <td class="titleColumn">
       48.
       <a href="/title/tt0082971/" title="Steven Spielberg (dir.), Harrison Ford, Karen Allen">Les aventuriers de l'arche perdue</a>
 <span class="secondaryInfo">(1981)</span>
 </td>, <td class="titleColumn">
       49.
       <a href="/title/tt0482571/" title="Christopher Nolan (dir.), Christian Bale, Hugh Jackman">Le prestige</a>
 <span class="secondaryInfo">(2006)</span>
 </td>, <td class="titleColumn">
       50.
       <a href="/title/tt0078788/" title="Francis Ford Coppola (dir.), Martin Sheen, Marlon Brando">Apocalypse Now</a>
 <span class="secondaryInfo">(1979)</span>
 </td>, <td class="titleColumn">
       51.
       <a href="/title/tt0209144/" title="Christopher Nolan (dir.), Guy Pearce, Carrie-Anne Moss">Memento</a>
 <span class="secondaryInfo">(2000)</span>
 </td>, <td class="titleColumn">
       52.
       <a href="/title/tt0078748/" title="Ridley Scott (dir.), Sigourney Weaver, Tom Skerritt">Alien - Le 8ème passager</a>
 <span class="secondaryInfo">(1979)</span>
 </td>, <td class="titleColumn">
       53.
       <a href="/title/tt0095327/" title="Isao Takahata (dir.), Tsutomu Tatsumi, Ayano Shiraishi">Le tombeau des lucioles</a>
 <span class="secondaryInfo">(1988)</span>
 </td>, <td class="titleColumn">
       54.
       <a href="/title/tt0095765/" title="Giuseppe Tornatore (dir.), Philippe Noiret, Enzo Cannavale">Cinéma Paradiso</a>
 <span class="secondaryInfo">(1988)</span>
 </td>, <td class="titleColumn">
       55.
       <a href="/title/tt0032553/" title="Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard">Le dictateur</a>
 <span class="secondaryInfo">(1940)</span>
 </td>, <td class="titleColumn">
       56.
       <a href="/title/tt0043014/" title="Billy Wilder (dir.), William Holden, Gloria Swanson">Boulevard du Crépuscule</a>
 <span class="secondaryInfo">(1950)</span>
 </td>, <td class="titleColumn">
       57.
       <a href="/title/tt4633694/" title="Bob Persichetti (dir.), Shameik Moore, Jake Johnson">Spider-Man: New Generation</a>
 <span class="secondaryInfo">(2018)</span>
 </td>, <td class="titleColumn">
       58.
       <a href="/title/tt0405094/" title="Florian Henckel von Donnersmarck (dir.), Ulrich Mühe, Martina Gedeck">La vie des autres</a>
 <span class="secondaryInfo">(2006)</span>
 </td>, <td class="titleColumn">
       59.
       <a href="/title/tt0057012/" title="Stanley Kubrick (dir.), Peter Sellers, George C. Scott">Docteur Folamour, ou: Comment j'ai appris à ne plus m'en faire et à aimer la bombe</a>
 <span class="secondaryInfo">(1964)</span>
 </td>, <td class="titleColumn">
       60.
       <a href="/title/tt4154756/" title="Anthony Russo (dir.), Robert Downey Jr., Chris Hemsworth">Avengers: Infinity War</a>
 <span class="secondaryInfo">(2018)</span>
 </td>, <td class="titleColumn">
       61.
       <a href="/title/tt0050825/" title="Stanley Kubrick (dir.), Kirk Douglas, Ralph Meeker">Les sentiers de la gloire</a>
 <span class="secondaryInfo">(1957)</span>
 </td>, <td class="titleColumn">
       62.
       <a href="/title/tt1853728/" title="Quentin Tarantino (dir.), Jamie Foxx, Christoph Waltz">Django Unchained</a>
 <span class="secondaryInfo">(2012)</span>
 </td>, <td class="titleColumn">
       63.
       <a href="/title/tt0081505/" title="Stanley Kubrick (dir.), Jack Nicholson, Shelley Duvall">Shining</a>
 <span class="secondaryInfo">(1980)</span>
 </td>, <td class="titleColumn">
       64.
       <a href="/title/tt0910970/" title="Andrew Stanton (dir.), Ben Burtt, Elissa Knight">Wall-E</a>
 <span class="secondaryInfo">(2008)</span>
 </td>, <td class="titleColumn">
       65.
       <a href="/title/tt0119698/" title="Hayao Miyazaki (dir.), Yôji Matsuda, Yuriko Ishida">Princesse Mononoké</a>
 <span class="secondaryInfo">(1997)</span>
 </td>, <td class="titleColumn">
       66.
       <a href="/title/tt0051201/" title="Billy Wilder (dir.), Tyrone Power, Marlene Dietrich">Témoin à charge</a>
 <span class="secondaryInfo">(1957)</span>
 </td>, <td class="titleColumn">
       67.
       <a href="/title/tt0364569/" title="Chan-wook Park (dir.), Min-sik Choi, Ji-tae Yu">Old Boy</a>
 <span class="secondaryInfo">(2003)</span>
 </td>, <td class="titleColumn">
       68.
       <a href="/title/tt1345836/" title="Christopher Nolan (dir.), Christian Bale, Tom Hardy">The Dark Knight Rises</a>
 <span class="secondaryInfo">(2012)</span>
 </td>, <td class="titleColumn">
       69.
       <a href="/title/tt0090605/" title="James Cameron (dir.), Sigourney Weaver, Michael Biehn">Aliens - Le retour</a>
 <span class="secondaryInfo">(1986)</span>
 </td>, <td class="titleColumn">
       70.
       <a href="/title/tt0169547/" title="Sam Mendes (dir.), Kevin Spacey, Annette Bening">American Beauty</a>
 <span class="secondaryInfo">(1999)</span>
 </td>, <td class="titleColumn">
       71.
       <a href="/title/tt0087843/" title="Sergio Leone (dir.), Robert De Niro, James Woods">Il était une fois en Amérique</a>
 <span class="secondaryInfo">(1984)</span>
 </td>, <td class="titleColumn">
       72.
       <a href="/title/tt2380307/" title="Lee Unkrich (dir.), Anthony Gonzalez, Gael García Bernal">Coco</a>
 <span class="secondaryInfo">(2017)</span>
 </td>, <td class="titleColumn">
       73.
       <a href="/title/tt0082096/" title="Wolfgang Petersen (dir.), Jürgen Prochnow, Herbert Grönemeyer">Le bateau</a>
 <span class="secondaryInfo">(1981)</span>
 </td>, <td class="titleColumn">
       74.
       <a href="/title/tt0033467/" title="Orson Welles (dir.), Orson Welles, Joseph Cotten">Citizen Kane</a>
 <span class="secondaryInfo">(1941)</span>
 </td>, <td class="titleColumn">
       75.
       <a href="/title/tt0112573/" title="Mel Gibson (dir.), Mel Gibson, Sophie Marceau">Braveheart</a>
 <span class="secondaryInfo">(1995)</span>
 </td>, <td class="titleColumn">
       76.
       <a href="/title/tt0052357/" title="Alfred Hitchcock (dir.), James Stewart, Kim Novak">Sueurs froides</a>
 <span class="secondaryInfo">(1958)</span>
 </td>, <td class="titleColumn">
       77.
       <a href="/title/tt5311514/" title="Makoto Shinkai (dir.), Ryûnosuke Kamiki, Mone Kamishiraishi">Your Name.</a>
 <span class="secondaryInfo">(2016)</span>
 </td>, <td class="titleColumn">
       78.
       <a href="/title/tt0053125/" title="Alfred Hitchcock (dir.), Cary Grant, Eva Marie Saint">La mort aux trousses</a>
 <span class="secondaryInfo">(1959)</span>
 </td>, <td class="titleColumn">
       79.
       <a href="/title/tt0105236/" title="Quentin Tarantino (dir.), Harvey Keitel, Tim Roth">Reservoir Dogs</a>
 <span class="secondaryInfo">(1992)</span>
 </td>, <td class="titleColumn">
       80.
       <a href="/title/tt0086190/" title="Richard Marquand (dir.), Mark Hamill, Harrison Ford">Le retour du Jedi</a>
 <span class="secondaryInfo">(1983)</span>
 </td>, <td class="titleColumn">
       81.
       <a href="/title/tt0086879/" title="Milos Forman (dir.), F. Murray Abraham, Tom Hulce">Amadeus</a>
 <span class="secondaryInfo">(1984)</span>
 </td>, <td class="titleColumn">
       82.
       <a href="/title/tt0022100/" title="Fritz Lang (dir.), Peter Lorre, Ellen Widmann">M le maudit</a>
 <span class="secondaryInfo">(1931)</span>
 </td>, <td class="titleColumn">
       83.
       <a href="/title/tt0180093/" title="Darren Aronofsky (dir.), Ellen Burstyn, Jared Leto">Requiem for a Dream</a>
 <span class="secondaryInfo">(2000)</span>
 </td>, <td class="titleColumn">
       84.
       <a href="/title/tt0114709/" title="John Lasseter (dir.), Tom Hanks, Tim Allen">Toy Story</a>
 <span class="secondaryInfo">(1995)</span>
 </td>, <td class="titleColumn">
       85.
       <a href="/title/tt1187043/" title="Rajkumar Hirani (dir.), Aamir Khan, Madhavan">3 Idiots</a>
 <span class="secondaryInfo">(2009)</span>
 </td>, <td class="titleColumn">
       86.
       <a href="/title/tt5074352/" title="Nitesh Tiwari (dir.), Aamir Khan, Sakshi Tanwar">Dangal</a>
 <span class="secondaryInfo">(2016)</span>
 </td>, <td class="titleColumn">
       87.
       <a href="/title/tt0062622/" title="Stanley Kubrick (dir.), Keir Dullea, Gary Lockwood">2001, l'odyssée de l'espace</a>
 <span class="secondaryInfo">(1968)</span>
 </td>, <td class="titleColumn">
       88.
       <a href="/title/tt0338013/" title="Michel Gondry (dir.), Jim Carrey, Kate Winslet">Eternal Sunshine of the Spotless Mind</a>
 <span class="secondaryInfo">(2004)</span>
 </td>, <td class="titleColumn">
       89.
       <a href="/title/tt0986264/" title="Aamir Khan (dir.), Darsheel Safary, Aamir Khan">Taare Zameen Par</a>
 <span class="secondaryInfo">(2007)</span>
 </td>, <td class="titleColumn">
       90.
       <a href="/title/tt0056172/" title="David Lean (dir.), Peter O'Toole, Alec Guinness">Lawrence d'Arabie</a>
 <span class="secondaryInfo">(1962)</span>
 </td>, <td class="titleColumn">
       91.
       <a href="/title/tt0066921/" title="Stanley Kubrick (dir.), Malcolm McDowell, Patrick Magee">Orange mécanique</a>
 <span class="secondaryInfo">(1971)</span>
 </td>, <td class="titleColumn">
       92.
       <a href="/title/tt0045152/" title="Stanley Donen (dir.), Gene Kelly, Donald O'Connor">Chantons sous la pluie</a>
 <span class="secondaryInfo">(1952)</span>
 </td>, <td class="titleColumn">
       93.
       <a href="/title/tt0361748/" title="Quentin Tarantino (dir.), Brad Pitt, Diane Kruger">Inglourious Basterds</a>
 <span class="secondaryInfo">(2009)</span>
 </td>, <td class="titleColumn">
       94.
       <a href="/title/tt0036775/" title="Billy Wilder (dir.), Fred MacMurray, Barbara Stanwyck">Assurance sur la mort</a>
 <span class="secondaryInfo">(1944)</span>
 </td>, <td class="titleColumn">
       95.
       <a href="/title/tt0211915/" title="Jean-Pierre Jeunet (dir.), Audrey Tautou, Mathieu Kassovitz">Le fabuleux destin d'Amélie Poulain</a>
 <span class="secondaryInfo">(2001)</span>
 </td>, <td class="titleColumn">
       96.
       <a href="/title/tt0075314/" title="Martin Scorsese (dir.), Robert De Niro, Jodie Foster">Taxi Driver</a>
 <span class="secondaryInfo">(1976)</span>
 </td>, <td class="titleColumn">
       97.
       <a href="/title/tt0093058/" title="Stanley Kubrick (dir.), Matthew Modine, R. Lee Ermey">Full Metal Jacket</a>
 <span class="secondaryInfo">(1987)</span>
 </td>, <td class="titleColumn">
       98.

In [542]:
top = pd.DataFrame(chart)
top.head()

,0,1,2,3,4
0,1.,"<a href=""/title/tt0111161/"" title=""Frank Darab...",,"<span class=""secondaryInfo"">(1994)</span>",
1,2.,"<a href=""/title/tt0068646/"" title=""Francis For...",,"<span class=""secondaryInfo"">(1972)</span>",
2,3.,"<a href=""/title/tt0071562/"" title=""Francis For...",,"<span class=""secondaryInfo"">(1974)</span>",
3,4.,"<a href=""/title/tt0468569/"" title=""Christopher...",,"<span class=""secondaryInfo"">(2008)</span>",
4,5.,"<a href=""/title/tt0050083/"" title=""Sidney Lume...",,"<span class=""secondaryInfo"">(1957)</span>",

In [543]:
top[2] = top[1]

In [544]:
rang=[1,3]
for i in rang:
    top[i] = top[i].map(lambda x: x.text.strip())

In [546]:
top =top.drop(columns=[0,4])
top[2]=top[2].map(lambda s: s['title'].strip().replace('),' , ') |'))
top.head()

,1,2,3
0,Les évadés,"Frank Darabont (dir.) | Tim Robbins, Morgan Fr...",(1994)
1,Le parrain,"Francis Ford Coppola (dir.) | Marlon Brando, A...",(1972)
2,"Le parrain, 2ème partie","Francis Ford Coppola (dir.) | Al Pacino, Rober...",(1974)
3,The Dark Knight: Le chevalier noir,"Christopher Nolan (dir.) | Christian Bale, Hea...",(2008)
4,Douze hommes en colère,"Sidney Lumet (dir.) | Henry Fonda, Lee J. Cobb",(1957)

In [540]:
#movie name, Initial release, director name and stars
top.columns=['movie_name','director name and stars','Initial release']
top.head()

,movie_name,director name and stars,Initial release
0,Les évadés,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",(1994)
1,Le parrain,"Francis Ford Coppola (dir.), Marlon Brando, Al...",(1972)
2,"Le parrain, 2ème partie","Francis Ford Coppola (dir.), Al Pacino, Robert...",(1974)
3,The Dark Knight: Le chevalier noir,"Christopher Nolan (dir.), Christian Bale, Heat...",(2008)
4,Douze hommes en colère,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",(1957)

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [547]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [563]:
#your code
imdb = requests.get(url).content
imdb = BeautifulSoup(imdb)
chart=imdb.find_all('td', class_='titleColumn')
chart

links = [ch.find_all('a') for ch in chart]
         
links=(lambda s: s['href'].strip() for s in links)

links

In [ ]:
top = pd.DataFrame(chart)
top.head()

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code